<template>
  <div class="home">

    <!-- box -->
    <div class="index-search">

      <!-- search -->
      <div class="search-box">
        <div
          class="search-input"
        >
          <van-icon
            name="search"
            class="icon-search"
          />
          <span class="search-text">搜索</span>
        </div>
        <p class="cancel" @click="back">取消</p>
      </div>
      <!-- end of search -->

    </div>
    <!-- end of box -->

    <!-- search-list -->
    <ul class="search-list">
      <li>招商局港口集团股份有限公司</li>
      <li @click="link" class="active">招商局集团有限公司</li>
      <li>招商局轮船有限公司</li>
      <li>招商局港口控股有限公司</li>
      <li>招商局集团（香港）有限公司</li>
      <li>招商局产业园区（青岛）发展有限公司</li>
      <li>招商局金陵船舶（威海）有限公司</li>
      <li>招商局蛇口工业区控股股份有限公司</li>
    </ul>
    <!-- end of search-list -->
  </div>
</template>

<script>
import { Icon, DropdownMenu, DropdownItem } from 'vant'
export default {
  name: 'Home',
  components: {
    [Icon.name]: Icon,
    [DropdownMenu.name]: DropdownMenu,
    [DropdownItem.name]: DropdownItem
  },
  data () {
    return {}
  },
  methods: {
    // 跳转客户价值
    link () {
      this.$router.push({
        path: '/analysis/overview'
      })
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="less" scoped>
.home {
  padding: 20px;
}
.banner-img {
  width: 100%;
}

.index-search {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.nav {
  margin-top: 24px;
  margin-bottom: 44px;

  a {
    position: relative;
    font-size: 32px;
    letter-spacing: 0;
    color: #ffffff;
    padding: 0 20px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  a.active::after {
    content: " ";
    position: absolute;
    right: 40px;
    bottom: -10px;
    width: 24px;
    height: 6px;
    background: #6195ff;
  }

  a.active {
    color: #6195ff;
    text-decoration: none;
  }

  a.router-link-exact-active {
    color: #6195ff;
  }
}

.search-input {
  width: 670px;
  height: 60px;
  margin: 0 auto;
  background: #383b43;
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  .icon-search {
    font-size: 30px;
    opacity: 0.4;
    color: #ffffff;
    margin-right: 20px;
  }

  .search-text {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.4;
  }
}

.flex-select {
  display: flex;
  margin-top: 30px;
  padding: 0 20px;
  .select-item {
    flex-direction: column;
    width: 200px;
    margin-right: 30px;
  }
  .select-item-name {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.65;
    text-align: left;
    margin-bottom: 8px;
  }
  .select-box {
    height: 60px;
    color: #fff;
    background: #383b43;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 28px;
    box-sizing: border-box;
    padding: 0 16px;
    justify-content: space-between;
  }

  .mr0 {
    margin-right: 0;
  }
}

.search-box {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.cancel {
  font-size: 30px;
  color: #ffffff;
  margin-left: 50px;
  width: 100px;
}

.search-list {
  color: #fff;
  font-size: 30px;
  li {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    background: #2E3036;
  }

  li.active{
    color: #6195FF;
  }
}
</style>
