<template>
  <div class="app">
    <div class="fixed-box">
      <div class="scroll-box">
        <Title :map="titleMap"></Title>
        <div class="nav">
          <a @click="pushLink(item)" v-for="(item, index) in titleMap" :key="index" to="null"
            :class="{active: titleActive === item.link}">{{item.name}}
            <span class="under-link"></span>
          </a>
        </div>
        <OverAllDatepicker></OverAllDatepicker>
      </div>
    </div>
    <router-view />

  </div>
</template>

<script>
import Title from '@/components/Title'
import OverAllDatepicker from '@/components/OverAllDatepicker'

export default {
  components: {
    Title,
    OverAllDatepicker

  },
  data () {
    return {
      titleActive: '/customer/Bonus',
      date: '',
      scrollTop: true,
      titleMap: [{
        link: '/customer/Bonus',
        name: '奖费'
      }, {
        link: '/customer/Deposit',
        name: '存款'
      }, {
        link: '/customer/Loan',
        name: '贷款'
      }, {
        link: '/customer/IntermediateIncome',
        name: '中收'
      }]
    }
  },
  mounted () {
    // 获取scrollbox高度 保证在多分辨率下高度一致
    const height = document.querySelector('.scroll-box').offsetHeight
    document.querySelector('.fixed-box').style.height = height + 'px'
    this.titleActive = this.$route.path
  },
  methods: {
    // 路由跳转
    pushLink (item) {
      if (item.link === this.titleActive) {
        return
      }
      // 返回顶部
      this.titleActive = item.link
      window.scrollTo(0, 0)
      this.$router.push({
        path: item.link
      })
    }
  },
  watch: {
    $route: function (val) {
      this.titleActive = val.path
    }
  }
}

</script>

<style lang="less" scoped>
  .app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #212228;
    height: 100%;
    min-height: 100vh;
    color: #fff;
  }

  .nav {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      position: relative;
      width: 25%;
      font-size: 32px;
      letter-spacing: 0;
      color: #ffffff;

      &.router-link-exact-active {
        color: #42b983;
      }
    }

    a.active {
      color: #6195ff;
      text-decoration: none;

      .under-link {
        position: absolute;
        bottom: -14px;
        left: 50%;
        margin-left: -11px;

        width: 32px;
        height: 6px;
        background-color: #6195ff;
      }
    }

    a.router-link-exact-active {
      color: #6195ff;
    }
  }

  .scroll-box {
    position: fixed;
    top: 0;
    background-color: #212228;
    z-index: 999;
    width: 100%;
    padding-bottom: 10px;
  }

</style>
