<template>
  <div class="home interval">
    <CardItem
      class="card-content"
      title-type="line-title"
      title="中收总量"
    >
      <template slot="body">
        <CardCenterLineArea :tindex="3"></CardCenterLineArea>
      </template>
    </CardItem>
    <div class="tabs-title">
      <p class="tabs-title-name">构成</p>
      <div class="tabs-box">
        <p
          class="tabs-item"
          @click="tabsApplyActive(1)"
          :class="{active:activeApplyFlag === 1 }"
        >构成</p>
        <p
          class="tabs-item"
          @click="tabsApplyActive(2)"
          :class="{active:activeApplyFlag === 2 }"
        >趋势</p>

      </div>
    </div>
    <CardItem
      class="card-content"
      v-if="activeApplyFlag === 1"
    >
      <template slot="body">
        <PieL :chartData="DoubleLightChannel" :specialChartData="specialDoubleLightChannel" :allChartData="allDoubleLightChannel" :chartStyle="styleDoubleLightChannel" :chartDesc="ligntChartDescription"/>
        <PieL :chartData="financingChannel" :specialChartData="specialFinancingChannel" :allChartData="allFinancingChannel" :chartStyle="styleFinancingChannel" :chartDesc="chartDescription"/>
      </template>
    </CardItem>
    <CardItem
      class="card-content"
      v-if="activeApplyFlag === 2"
    >
      <template slot="body">
        <p class="select-name">双轻<span class="down-icon"></span></p>
        <Area :index="4" />
        <p class="select-name second-chart">代理<span class="down-icon"></span></p>
        <Area :index="5" />
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import CardCenterLineArea from '@/components/card-components/CardCenterLineArea'
import PieL from '@/components/chart-components/PieL'
import Area from '@/components/chart-components/Area'

import { Icon } from 'vant'

export default {
  name: 'Home',
  components: {
    CardCenterLineArea,
    CardItem,
    PieL,
    Area,
    [Icon.name]: Icon
  },
  data () {
    return {
      activeApplyFlag: 1,
      allFinancingChannel: {
        title: '',
        value: ''
      },
      styleFinancingChannel: {
        sidePadding: 70,
        inflectionOffset: 20,
        label1OffsetY: -20,
        label2OffsetY: -16
      },
      specialFinancingChannel: [
        {
          name: '代理',
          percent: 20,
          color: '#8759E5',
          a: '1'
        }, {
          name: '结算',
          percent: 12,
          color: '#F9BB4C',
          a: '1'
        }, {
          name: '投行',
          percent: 13,
          color: '#F73563',
          a: '1'
        }, {
          name: '托管',
          percent: 13,
          color: '#0DCD87',
          a: '1'
        }, {
          name: '其它',
          percent: 13,
          color: '#6195FF',
          a: '1'
        }
      ],
      financingChannel: [{
        name: '代理',
        percent: 20.00,
        color: '#8759E5',
        a: '1'
      }, {
        name: '结算',
        percent: 12.00,
        color: '#F9BB4C',
        a: '1'
      }, {
        name: '投行',
        percent: 13.00,
        color: '#F73563',
        a: '1'
      }, {
        name: '托管',
        percent: 13.00,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '其它',
        percent: 13.00,
        color: '#6195FF',
        a: '1'
      }],
      allDoubleLightChannel: {
        title: '',
        value: ''
      },
      styleDoubleLightChannel: {
        sidePadding: 70,
        inflectionOffset: 20,
        label1OffsetY: -20,
        label2OffsetY: -16
      },
      specialDoubleLightChannel: [
        {
          name: '双轻',
          percent: 16.37,
          color: '#0DCD87',
          a: '1'
        }, {
          name: '非双轻',
          percent: 84.63,
          color: '#6195FF',
          a: '1'
        }
      ],
      DoubleLightChannel: [{
        name: '双轻',
        percent: 16.37,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '非双轻',
        percent: 84.63,
        color: '#6195FF',
        a: '1'
      }],
      ligntChartDescription: {
        marginTop: '40px'
      },
      chartDescription: {
        marginTop: '-20px'
      }
    }
  },
  methods: {
    // 申报 tabs切换 1当前申报 2 贷款总量 3 资产质量
    tabsApplyActive (val) {
      this.activeApplyFlag = val
    }
  }
}
</script>
<style lang="less" scoped>
.tabs-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .tabs-title-name {
    color: #fff;
    font-size: 36px;
    margin-left: 5px;
  }

  .tabs-box {
    display: flex;
    border: 2px solid #bcbdbe;
    border-radius: 36px;
    border-radius: 36px;
    width: 220px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;

    .tabs-item {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #fff;
    }

    .active {
      background-color: #cbcbcb;
      font-weight: bold;
      color: #212228;
      border-radius: 38px;
      border-radius: 38px;
    }
  }
}
.select-name {
  font-size: 32px;
  color: #6195ff;
}

.down-icon{
  background-image: url('../../../assets/bonus/arrow-2.svg');
  display: inline-block;
  width: 19px;
  height: 16px;
  background-size: 19px 16px;
  margin-left: 8px;
}

.second-chart{
  margin-top: 80px;
}
</style>
