<template>
  <div class="analysis-complexity-wrap interval">
    <h1 class="comprehensive-ext-four-blocks-title">复杂投融分析</h1>
    <section class="comprehensive-ext-four-blocks">
      <div class="comprehensive-ext-four-blocks-item"
       v-for="(item,index) in fourBlocks" :key="item.title"
        :class="activeClass == index ? 'active':''" @touchstart="getItem(index)">
        <ContrastiveText
          :title="item.title"
          :sub-title="item.subTitle"
          :num="item.num"
          :unit="item.unit"
          :sub-nums="item.subNums"
          :index="index"
          :activeClass="activeClass"
        />
      </div>
    </section>
    <CardItem class="card-content" title-type="dot-title" title="综拓推保险">
      <template slot="body">
        <IntervalGroup :IntervalData="IntervalData"></IntervalGroup>
      </template>
    </CardItem>
    <CardItem class="card-content" title-type="line-title" title="其他展业支持">
      <template slot="body">
        <OtherSupport />
      </template>
    </CardItem>
    <ProductSupport />
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import OtherSupport from './components/OtherSupport'
import ProductSupport from './components/ProductSupport'
import ContrastiveText from '@/components/card-components/ContrastiveText'
import IntervalGroup from '@/components/chart-components/IntervalGroup.vue'

export default {
  name: 'AnalysisLoan',
  data () {
    return {
      activeClass: 2,
      fourBlocks: [
        {
          title: '综拓日均存款',
          subTitle: '',
          num: 3.53,
          unit: '亿元',
          subNums: [
            {
              text: '较上月',
              subNum: '26%',
              up: 'down'
            },
            {
              text: '同比',
              subNum: '123.4%',
              up: 'up'
            }
          ]
        },
        {
          title: '综拓融资规模',
          subTitle: '',
          num: 0,
          unit: '亿元',
          subNums: [
            {
              text: '较上月',
              subNum: '-%',
              up: 'no'
            },
            {
              text: '同比',
              subNum: '-%',
              up: 'no'
            }
          ]
        },
        {
          title: '综拓保险规模',
          subTitle: '(不含寿险，养健险)',
          num: 3,
          unit: '亿元',
          subNums: [
            {
              text: '较上月',
              subNum: '-%',
              up: 'no'
            },
            {
              text: '同比',
              subNum: '20%',
              up: 'up'
            }
          ]
        },
        {
          title: '持有团金产品数',
          subTitle: '',
          num: 2,
          unit: '亿元',
          subNums: [
            {
              text: '较上月',
              subNum: '-%',
              up: 'no'
            },
            {
              text: '同比',
              subNum: '-%',
              up: 'no'
            }
          ]
        }
      ],
      IntervalData: [{
        x: '产险',
        name: '累计规模',
        y: 8.00,
        unit: '百万',
        max: 10,
        tickCount: 3
      }, {
        x: '好医生',
        name: '累计规模',
        y: 2.50
      }, {
        x: '养老险',
        name: '累计规模',
        y: 2.40
      }, {
        x: '健康险',
        name: '累计规模',
        y: 2.40
      }, {
        x: '产险',
        name: '同比规模',
        y: 4.5
      }, {
        x: '好医生',
        name: '同比规模',
        y: 1.0
      }, {
        x: '养老险',
        name: '同比规模',
        y: 3.8
      }, {
        x: '健康险',
        name: '同比规模',
        y: 2.1
      }]
    }
  },
  methods: {
    getItem (index) {
      this.activeClass = 2
    }
  },
  components: {
    CardItem,
    OtherSupport,
    ProductSupport,
    ContrastiveText,
    IntervalGroup
  }
}
</script>
<style lang="less" scoped>
.analysis-complexity-wrap {
  .comprehensive-ext-four-blocks-title {
    font-family: PingFangSC-Semibold;
    font-size: 32px;
    line-height: 45px;
    color: #ffffff;
    text-align: left;
  }
}
.comprehensive-ext-four-blocks {
  display: flex;
  flex-flow: row wrap;
  margin:20px 0;
  justify-content: space-between;
  .comprehensive-ext-four-blocks-item {
    width: calc(50% - 10px);
    background: #2e3036;
    border-radius: 10px;
    padding: 40px 40px;
    box-sizing: border-box;
    &:last-child,
    &:nth-last-child(2) {
      margin-top: 20px;
    }
    &.active{
      background:  rgba(79, 149, 255, 0.25);
      color: white;
    }
  }
}
</style>
