<template>

  <div class="home interval ">
    <!-- 客户画像 -->
    <CardItem
      class="card-content"
      title-type="default-title"
      title="客户画像"
    >
      <template slot="body">
        <div class="portrait">
          <P class="company">招商局集团有限公司</P>
          <ul class="introduction">
            <li><span class="title">行业：</span><span class="text">投资与资产管理</span></li>
            <li><span class="title">归属行业银行事业部：</span><span class="text">地产金融事业部</span></li>
            <li><span class="title">地区：</span><span class="text">华北地区</span></li>
            <li><span class="title">企业规模：</span><span class="text">大型</span></li>
            <li><span class="title">企业性质：</span><span class="text">国有绝对控股</span></li>
            <li><span class="title">是否战略客户：</span><span class="text">是</span></li>
            <li><span class="title">行内风险评级：</span><span class="text">低风险，偿债能力强</span></li>
            <li><span class="title">行业：</span><span class="text">投资与资产管理</span></li>
            <li><span class="title">客户价值：</span><span class="text">钻石客户</span></li>
          </ul>
        </div>
      </template>
    </CardItem>
    <!-- end of 客户画像 -->

    <!-- 客户切换 -->
    <CardItem class="card-content">
      <template slot="body">
        <!-- 导航栏 -->
        <div class="tabs-box">
          <p class="tabs-item ">单个客户</p>
          <p class="tabs-item active">单个客户</p>
          <p class="tabs-item">供应链客户</p>
        </div>
        <!-- end of 导航栏 -->
        <!-- 区间图 -->
        <CardBetweenSingle />
        <!-- end of 区间图 -->
        <!-- 分割线 -->
        <div class="chart-line"></div>
        <!-- end of 分割线 -->
        <div class="select-box">
          <div
            class="select"
            @click="showPicker1=true"
          >
            近6个月EVA趋势图
            <van-icon
              class="select-play-bottom"
              name="play"
              size="8px"
              color="#6195FF"
            />
          </div>
        </div>
        <van-popup
          v-model="showPicker1"
          position="bottom"
        >
          <van-picker
            show-toolbar
            :columns="['近3个月EVA趋势图','近6个月EVA趋势图','近12个月EVA趋势图']"
            @cancel="showPicker1 = false"
            @confirm="showPicker1 = false"
          />
        </van-popup>
        <!-- 折线图 -->
        <Brokenline :chartData=[1]></Brokenline>
        <!--end of 折线图 -->
      </template>
    </CardItem>
    <!-- end of 客户切换 -->

    <!-- 生态圈客户 start -->
    <CardTableStqkh></CardTableStqkh>
    <!-- 生态圈客户 end -->

  </div>
</template>

<script>
import CardBetweenSingle from '@/components/card-components/CardBetweenSingle'

import CardItem from '@/components/common/CardItem'

import Brokenline from '@/components/chart-components/Brokenline'
import CardTableStqkh from '@/components/card-components/CardTableStqkh'

import {
  Icon,
  popup,
  Picker
} from 'vant'

export default {
  name: 'AnalysisLoan',
  components: {
    CardItem,
    CardBetweenSingle,
    Brokenline,
    CardTableStqkh,
    [Icon.name]: Icon,
    [popup.name]: popup,
    [Picker.name]: Picker
  },
  data () {
    return {
      activeFlag: 1,
      showPicker1: false
    }
  },
  methods: {
    // tabs切换 1当前申报 2 贷款总量 3 资产质量
    tabsActive (val) {
      this.activeFlag = val
    }
  }
}

</script>
<style lang="less" scoped>
.portrait {
  padding: 20px 20px 20px 40px;
  display: flex;

  .company {
    width: 140px;
    align-self: center;
    font-family: PingFangSC-Medium;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    padding-top: 140px;
    background: url("~@/assets/analysis/company.svg") no-repeat center top;
    background-size: 120px 120px;
  }

  .introduction {
    flex: 1;
    line-height: 37px;
    text-align: left;
    margin-left: 59px;

    li {
      margin-top: 14px;
    }

    .title {
      opacity: 0.8;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      color: #ffffff;
    }

    .text {
      font-family: PingFangSC-Medium;
      font-size: 26px;
      color: #6195ff;
      letter-spacing: 0;
      text-align: justify;
    }
  }
}

.tabs-box {
  display: flex;
  border: 2px solid #bcbdbe;
  border-radius: 36px;
  border-radius: 36px;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 40px;
  width: 364px;
  position: relative;

  .tabs-item {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    // color: #6195ff;
  }

  .active {
    position: absolute;
    background: transparent;
    z-index: 2;
    background-color: #6195ff;
    border-radius: 38px;
    width: 165px;
    height: 60px;
    top: -1px;
    left: -1px;
  }
}

.chart-line {
  width: 600px;
  height: 1px;
  margin: 0 auto;
  background-color: #212228;
  margin-bottom: 25px;
  margin-top: 60px;
}

.select-box{
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  margin-top: 60px;
}

.select {
  color: #6195ff;
  display: flex;
  align-items: center;
  font-size: 32px;
  .select-play-bottom {
    transform: rotate(90deg);
    padding-left: 10px;
    margin-top: -15px;
  }
  &:nth-last-child(n + 2) {
    margin-right: 106px;
  }
}
</style>
