<template>
  <div class="analysis-risk-wrap home interval">
    <!-- 导航栏 -->
    <div class="tabs-box">
      <p
        class="tabs-item"
        @click="tabsActive(1)"
        :class="{active:activeFlag === 1 }"
      >外部风险概览</p>
      <p
        class="tabs-item"
        @click="tabsActive(2)"
        :class="{active:activeFlag === 2 }"
      >行内风险概览</p>
    </div>
    <!-- end of 导航栏 -->
    <!-- 单个客户 -->
    <div
      class="single-customer"
      v-if="activeFlag === 1"
    >
      <!-- 风险模块 -->
      <CardItem class="card-content">
        <template slot="body">
          <div class="outside-risk">
            <P class="risk-title">存在基本面风险，有杠杆水平，经营情况方面存在风险</P>
            <ul class="risk-list">
              <li>
                <p class="risk-list-tips">无舆情风险</p>
              </li>
              <li class="active">
                <p class="risk-list-tips">无财务粉饰风险</p>
              </li>
              <li>
                <p class="risk-list-tips">无市场面风险</p>
              </li>
              <li>
                <p class="risk-list-tips">无风险传导风险</p>
              </li>
            </ul>
          </div>
        </template>
      </CardItem>
      <!-- end of 风险模块 -->
      <!-- 财务健康度检测结构-无财务粉饰异常 -->
      <div class="card-out-content">
        <div class="card-out-title line-title">
          <div class="title">
            财务健康度检测结构-无财务粉饰异常
          </div>
        </div>
      </div>

      <!-- end of 财务健康度检测结构-无财务粉饰异常 -->
      <!-- 财务质量检测结果-无异常 -->
      <div class="card-out-content">
        <div class="card-out-title line-title">
          <div class="title">
            财务质量检测结果-无异常
          </div>
        </div>
      </div>
      <!-- end of 财务质量检测结果-无异常 -->
      <!-- 财务异动检测结果-科目异动 -->
      <CardItem
        class="card-content"
        title-type="line-title"
        title="财务异动检测结果-科目异动"
      >
        <template slot="body">
          <div class="select-box">
            <div
              class="select"
              @click="showPicker1=true"
            >
              2018
              <van-icon
                class="select-play-bottom"
                name="play"
                size="8px"
                color="#6195FF"
              />
            </div>
          </div>
          <van-popup
            v-model="showPicker1"
            position="bottom"
          >
            <van-picker
              show-toolbar
              :columns="['2017','2018','2019']"
              @cancel="showPicker1 = false"
              @confirm="showPicker1 = false"
            />
          </van-popup>
          <div class="abnormal">

            <div class="abnormal-box">
              <p class="abnormal-box-left">资产负债表</p>
              <p class="abnormal-box-center">应收分保账款</p>
              <p>变动幅度<span class="color-red">+23402.92%</span></p>
            </div>
            <div class="abnormal-box">
              <p class="abnormal-box-left">利润表</p>
              <p class="abnormal-box-center">退保金</p>
              <p>变动幅度<span class="color-red">+30580.83%</span></p>
            </div>
            <div class="abnormal-box">
              <p class="abnormal-box-left">资产负债表</p>
              <p class="abnormal-box-center">客户贷款及垫款净增加额</p>
              <p>变动幅度<span class="color-red">+23402.92%</span></p>
            </div>
          </div>
        </template>
      </CardItem>
      <!-- end of 财务异动检测结果-科目异动 -->
    </div>
    <!-- end of 单个客户 -->
    <!-- 行内风险概览 -->
    <div
      class="single-customer"
      v-if="activeFlag === 2"
    >
      <!-- 逾期趋势图 -->
      <CardItem
        class="card-content"
        title-type="line-title"
        title="逾期趋势图"
      >
        <template slot="body">
          <p class="income-text">客户逾期率较低，风险较低</p>
          <Brokenline :chartData=[2]></Brokenline>
        </template>
      </CardItem>
      <!-- end of 逾期趋势图 -->
    </div>
    <!-- end of 行内风险概览 -->

    <!-- 行内业务缓释情况 start -->
    <div v-if="activeFlag === 2">
      <CardTableHnywhsqk></CardTableHnywhsqk>
    </div>
    <!-- 行内业务缓释情况 end -->
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import Brokenline from '@/components/chart-components/Brokenline'
import CardTableHnywhsqk from '@/components/card-components/CardTableHnywhsqk'

import {
  Col,
  Row,
  popup,
  Picker,
  Icon
} from 'vant'

export default {
  name: 'AnalysisLoan',
  components: {
    CardItem,
    Brokenline,
    [Col.name]: Col,
    [Row.name]: Row,
    CardTableHnywhsqk,
    [Picker.name]: Picker,
    [popup.name]: popup,
    [Icon.name]: Icon
  },
  data () {
    return {
      activeFlag: 1,
      showPicker1: false
    }
  },
  methods: {
    // tabs切换 1当前申报 2 贷款总量 3 资产质量
    tabsActive (val) {
      this.activeFlag = val
    }
  }

}

</script>
<style lang="less" scoped>
.analysis-risk-wrap {
  .risk-title {
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #f73563;
    letter-spacing: 0;
    line-height: 40px;
    text-align: left;
    padding-left: 55px;
    margin-left: 45px;
    padding-right: 56px;
    background: url("~@/assets/analysis/warning.svg") no-repeat 0px 0px;
    background-size: 40px 40px;
    margin-bottom: 20px;
  }

  .risk-list {
    font-family: PingFangSC-Regular;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: justify;
    overflow: hidden;

    li {
      width: 662px;
      height: 80px;
      display: flex;
      align-items: center;
      list-style-type: disc;
      padding-left: 63px;
    }

    li.active {
      background-color: rgba(97, 149, 255, 0.25);
      border-radius: 10px;
      border-radius: 10px;
    }
  }

  .outside-risk {
    padding: 10px 24px;
    overflow: hidden;
    box-sizing: border-box;

    .risk-list-tips {
      position: relative;
      padding-left: 34px;
    }

    .risk-list-tips::after {
      content: " ";
      width: 12px;
      height: 12px;
      background: #ffffff;
      position: absolute;
      left: 0;
      top: 12px;
      border-radius: 50%;
    }
  }
}

.tabs-box {
  display: flex;
  background: #2e3036;
  border-radius: 36px;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 710px;

  .tabs-item {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    // color: #6195ff;
  }

  .active {
    background-color: #6195ff;
    color: #fff;
    border-radius: 38px;
    border-radius: 38px;
    margin-top: -1px;
  }
}

.income-text {
  margin-top: 40px;
  font-size: 28px;
  color: #ffffff;
  text-align: left;
  padding-left: 46px;
  padding-right: 24px;

  .prominent {
    color: #6195ff;
    margin-left: 10px;
  }
}

.income-text {
  margin-top: 40px;
  font-size: 28px;
  color: #ffffff;
  text-align: left;
  padding-left: 46px;
  padding-right: 24px;

  .prominent {
    color: #6195ff;
    margin-left: 10px;
  }
}

.abnormal {
  font-size: 24px;
  color: #ffffff;
  margin-top: 30px;
  text-align: left;
  margin-left: 24px;
  overflow: hidden;
  margin-bottom: 50px;

  .abnormal-box {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;

    p {
      text-align: left;
      margin: 10px 0;
    }
  }

  .color-red {
    display: inline-block;
    color: #f73563;
    margin-left: 5px;
  }

  .row-mb {
    margin-bottom: 31px;
  }
}

.card-out-content {
  background: #2e3036;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  .card-out-title {
    font-family: PingFangSC-Regular;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 20px 20px 0 0;
  }

  .line-title {
    color: #fff;
    padding: 22px 23px;
    background-color: #383b43;
    height: 45px;

    .title {
      padding-left: 21px;
      position: relative;
      font-size: 32px;

      &:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 32px;
        background: #6195ff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.select-box{
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  align-items: center;
  margin-top: 40px;
  margin-right: 23px;
}

.select {
  color: #6195ff;
  display: flex;
  align-items: center;
  font-size: 32px;
  .select-play-bottom {
    transform: rotate(90deg);
    padding-left: 10px;
    margin-top: -15px;
  }
  &:nth-last-child(n + 2) {
    margin-right: 106px;
  }
}

.abnormal-box-center{
  width: 205px;
  text-align: left;
}

.abnormal-box-left {
  width: 120px;
}
</style>
