<template>
  <div class="caculator-wrap">
    <!-- <section>
      <div><Counter :info="sizeInfo"/></div>
      <div><Counter :info="timeInfo"/></div>
      <div><Counter :info="priceInfo"/></div>
    </section> -->
  </div>
</template>
<script>
import Counter from '@/components/card-components/Counter'
export default {
  name: 'Caculator',
  data () {
    return {
      sizeInfo: {
        value: 589,
        unit: '万'
      },
      timeInfo: {
        value: 2,
        unit: '月'
      },
      priceInfo: {
        value: 12,
        unit: 'bp'
      }
    }
  },
  components: {
    Counter
  }
}
</script>
<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #212228;
  height: 100%;
}

#nav {
  padding: 30px;
  font-size: 14px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
