<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="客户清单-申报">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select" @click="showPicker=true">
            新客户
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
    <van-popup v-model="showPicker" position="bottom">
      <van-picker show-toolbar :columns="['新客户','老客户']" @cancel="showPicker = false" @confirm="showPicker = false" />
    </van-popup>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      showPicker: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '10%'
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '15%',
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '行业',
        key: 'hy',
        isSort: 0,
        unit: '',
        width: '15%'
      },
      {
        name: '规模',
        key: 'gm',
        isSort: 1,
        unit: '亿',
        width: '15%'
      },
      {
        name: '授信金额',
        key: 'sxje',
        isSort: 1,
        unit: '亿',
        width: '25%'
      },
      {
        name: '授信品种',
        key: 'sxpz',
        unit: '',
        width: '20%'
      }
      ],
      gridData: [{
        ph: '1',
        kh: '**电力',
        hy: '制造',
        gm: '大型',
        sxje: '5',
        sxpz: '项目贷款'
      }, {
        ph: '2',
        kh: '**地铁',
        hy: '交通',
        gm: '大型',
        sxje: '10',
        sxpz: '综合授信'
      }, {
        ph: '3',
        kh: '**航空',
        hy: '交通',
        gm: '大型',
        sxje: '3',
        sxpz: '发债'
      }, {
        ph: '4',
        kh: '**能源',
        hy: '制造',
        gm: '中型',
        sxje: '2',
        sxpz: '项目贷款'
      }, {
        ph: '5',
        kh: '**农业',
        hy: '农业',
        gm: '中型',
        sxje: '1',
        sxpz: '综合授信'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        display: flex;
        justify-content: center;

        .select {
          color: #6195FF;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 32px;
          padding: 31px 14px 56px;

          i.select-play-bottom {
            transform: rotate(90deg);
            padding-left: 10px;
            padding: 0 0 8px 0px !important;
          }
        }
      }

    }

  }

</style>
