<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="大额存款到期">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select" @click="showPicker1=true">
          {{status===2?'200万-500万':status===3?'500万-1000万':'100万-200万'}}
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
          <div class="select" @click="showPicker2=true">
          {{status===2?'14天':status===3?'1个月':'7天'}}
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>

    <van-popup v-model="showPicker1" position="bottom">
      <van-picker show-toolbar :columns="['100万-200万','200万-500万','500万-1000万']" @cancel="showPicker1 = false" @confirm="showPicker1 = false" />
    </van-popup>
        <van-popup v-model="showPicker2" position="bottom">
      <van-picker show-toolbar :columns="['7天','14天','1个月']" @cancel="showPicker2 = false" @confirm="showPicker2 = false" />
    </van-popup>

  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'
import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: { status },
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      tableData: {},
      showPicker1: false,
      showPicker2: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '10%',
        fixed: 1
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '25%',
        style: { color: '#6195FF' },
        path: 'analysis-overview',
        fixed: 1
      },
      {
        name: '规模',
        key: 'gm',
        isSort: 0,
        unit: '',
        width: '15%'
      },
      {
        name: '存款余额',
        key: 'ckye',
        isSort: 1,
        unit: '万',
        width: '25%'
      },
      {
        name: '实际利率',
        key: 'sjll',
        isSort: 1,
        unit: '%',
        width: '22%'
      },
      {
        name: '到期时间',
        key: 'dqsj',
        isSort: 1,
        unit: '',
        width: '25%'
      },
      {
        name: '账号/单号',
        key: 'zhdh',
        unit: '',
        width: '24%'
      }
      ],
      gridData: [{
        ph: '1',
        kh: '南京城建',
        gm: '大型',
        ckye: '200',
        sjll: '2.35',
        dqsj: '2020.04.28',
        zhdh: 'A11'
      },
      {
        ph: '2',
        kh: '比亚迪货运',
        gm: '小型',
        ckye: '180',
        sjll: '2.55',
        dqsj: '2020.04.27',
        zhdh: 'A21'
      },
      {
        ph: '3',
        kh: '合肥中建',
        gm: '中型',
        ckye: '200',
        sjll: '2.25',
        dqsj: '2020.05.01',
        zhdh: 'A31'
      },
      {
        ph: '4',
        kh: '阳光电器',
        gm: '大型',
        ckye: '150',
        sjll: '2.35',
        dqsj: '2020.05.02',
        zhdh: 'A41'
      },
      {
        ph: '5',
        kh: '长信科技',
        gm: '中型',
        ckye: '180',
        sjll: '2.15',
        dqsj: '2020.05.03',
        zhdh: 'A51'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;
    .card-content {
      .interlayer {
        display: flex;
        justify-content: flex-end;
        .select {
          color: #6195FF;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 32px;
          padding: 31px 14px 56px;
          .select-play-bottom {
            transform: rotate(90deg);
            padding-left: 10px;
            padding: 0 0 0 8px !important;
          }
          &:nth-last-child(n+2){
            margin-right:106px;
          }

        }
      }

    }

  }

</style>
