<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="授信">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select" @click="showPicker=true">
            7天
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
    <van-popup v-model="showPicker" position="bottom">
      <van-picker show-toolbar :columns="['7天','14天','1个月']" @cancel="showPicker = false"
        @confirm="showPicker = false" />
    </van-popup>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      showPicker: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '16%',
        fixed: true
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '21%',
        style: { color: '#6195FF' },
        path: 'analysis-overview',
        fixed: true
      },
      {
        name: '规模',
        key: 'gm',
        width: '17%'
      },
      {
        name: '行业',
        key: 'hy',
        width: '17%'
      },
      {
        name: '授信品种',
        key: 'sxpz',
        isSort: 1,
        unit: '百万',
        width: '26%'
      },
      {
        name: '到期时间',
        key: 'dqsj',
        isSort: 1,
        unit: '',
        width: '27%'
      }
      ],
      gridData: [{
        ph: 'L0401',
        kh: '**电力',
        gm: '大型',
        hy: '电力',
        sxpz: '综合授信',
        dqsj: '2020.04.28'
      }, {
        ph: 'L0402',
        kh: '**烟草',
        gm: '中型',
        hy: '制造',
        sxpz: '项目贷款',
        dqsj: '2020.06.06'
      }, {
        ph: 'L0403',
        kh: '**酒业',
        gm: '大型',
        hy: '制造',
        sxpz: '发债',
        dqsj: '2020.11.20'
      }, {
        ph: 'L0404',
        kh: '**矿业',
        gm: '大型',
        hy: '采矿',
        sxpz: '综合授信',
        dqsj: '2020.12.09'
      }, {
        ph: 'L0405',
        kh: '**科技',
        gm: '中型',
        hy: '信息',
        sxpz: '项目贷款',
        dqsj: '2021.02.02'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        display: flex;
        justify-content: center;

        .select {
          color: #6195FF;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 32px;
          padding: 31px 14px 56px;

          i.select-play-bottom {
            transform: rotate(90deg);
            padding-left: 10px;
            padding: 0 0 8px 0px !important;
          }
        }
      }

    }

  }

</style>
