<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="出账清单-出账">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select">
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

import {
  Icon
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon
  },
  data () {
    return {
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '10%',
        fixed: true
      },
      {
        name: '出账时间',
        key: 'czsj',
        isSort: 1,
        unit: '',
        width: '20%',
        fixed: true
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '20%',
        fixed: true,
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '模拟创利',
        key: 'mncl',
        isSort: 1,
        unit: '万',
        width: '25%'
      },
      {
        name: '预估奖费',
        key: 'ygjf',
        isSort: 1,
        unit: '万',
        width: '24%'
      },
      {
        name: '出账品种',
        key: 'czpz',
        width: '25%'
      },
      {
        name: '借据',
        key: 'jj',
        width: '25%'
      },
      {
        name: '出账金额',
        key: 'czje',
        isSort: 1,
        unit: '万',
        width: '25%'
      }
      ],
      gridData: [{
        ph: '1',
        czsj: '20200401',
        kh: '**地铁',
        mncl: '18',
        ygjf: '1.08',
        czpz: '流动资金贷款',
        jj: 'LL0401',
        czje: '1200'
      }, {
        ph: '2',
        czsj: '20200407',
        kh: '**航空',
        mncl: '16',
        ygjf: '0.96',
        czpz: '并购贷款',
        jj: 'LL0402',
        czje: '1100'
      }, {
        ph: '3',
        czsj: '20200418',
        kh: '**能源',
        mncl: '21',
        ygjf: '1.26',
        czpz: '抵押贷款',
        jj: 'LL0403',
        czje: '1400'
      }, {
        ph: '4',
        czsj: '20200420',
        kh: '**农业',
        mncl: '12',
        ygjf: '0.72',
        czpz: '流动资金贷款',
        jj: 'LL0404',
        czje: '800'
      }, {
        ph: '5',
        czsj: '20200425',
        kh: '**服装',
        mncl: '20',
        ygjf: '1.2',
        czpz: '流动资金贷款',
        jj: 'LL0405',
        czje: '1300'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;
    .card-content {
      .interlayer {
        .select {
          height: 67px;
        }
      }

    }

  }

</style>
