<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="行内业务缓释情况">
      <template slot="titleSelect">
        <div class="title-select">
          <div class="search-box">
            <van-icon name="search"  size="18"/>
            搜索合同号
          </div>
        </div>
      </template>
      <template slot="interlayer">
        <div class="interlayer"></div>
      </template>
      <template slot="body">
        <div class="body">
          <div class="theader">额度合同下保证</div>
          <div class="tbody">
           <Cardtable :data="gridData1" :columns="gridColumns1"></Cardtable>
          </div>
          <div class="theader">业务合同下保证</div>

          <div class="tbody">
          <Cardtable :data="gridData1" :columns="gridColumns1"></Cardtable>
          </div>
          <div class="theader">额度合同下抵质押</div>

          <div class="tbody">
          <Cardtable :data="gridData2" :columns="gridColumns2"></Cardtable>
          </div>
          <div class="theader">业务合同下抵质押</div>

          <div class="tbody">
          <Cardtable :data="gridData2" :columns="gridColumns2"></Cardtable>
          </div>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'
import {
  Icon
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon
  },
  data () {
    return {
      gridColumns2: [{
        name: '抵质押',
        key: 'dzy',
        width: '25%'
      }, {
        name: '抵质押物类型',
        key: 'dzywlx',
        width: '50%'
      }, {
        name: '抵质押率',
        key: 'dzyl',
        width: '25%'
      }],
      gridData2: [{
        dzy: '-',
        dzywlx: '-',
        dzyl: '-'
      }, {
        dzy: '-',
        dzywlx: '-',
        dzyl: '-'
      }, {
        dzy: '-',
        dzywlx: '-',
        dzyl: '-'
      }],

      gridColumns1: [{
        name: '保证人',
        key: 'bzr',
        width: '16%'
      },
      {
        name: '名称',
        key: 'mc',
        width: '12%'
      },
      {
        name: '评级',
        key: 'pj',
        width: '12%'
      },
      {
        name: '独立性',
        key: 'dlx',
        width: '17%'
      },
      {
        name: '企业性质',
        key: 'qyxz',
        width: '21%'
      },
      {
        name: '保证金额',
        key: 'bzje',
        width: '21%'
      }
      ],
      gridData1: [{
        bzr: '-',
        mc: '-',
        pj: '-',
        dlx: '-',
        qyxz: '-',
        bzje: '-'
      },
      {
        bzr: '-',
        mc: '-',
        pj: '-',
        dlx: '-',
        qyxz: '-',
        bzje: '-'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-size: 28px;
    color: #fff;
    font-family: PingFangSC-Semibold;

    .card-content {

      .title-select {
        text-align: right;
        .search-box {
          display: flex;
          align-items: center;
          i{
            padding-right:6px;
          }
        }
      }

      .theader {
        padding: 25px 24px 23px;
        text-align: left;
        border-bottom: 2px solid #292929;
      }

      .tbody{
        padding-top: 26px;
      }

    }

  }

</style>
