<template>
  <div class="content">
    <div class="card-box">
      <!-- left -->
      <div class="card-content-box content-box-left">
        <p class="content-left-title" v-if="this.$route.path !== '/customer/IntermediateIncome'">{{titleType || ''}}</p>
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">{{data.total}}<span class="unit">亿</span></p>
            <div class="prev-month">
              <p>
                <span class="prev-month-name">比上月</span>
                <i class="icon-val-up"></i>
                <span class="prev-month-val month-val-up">{{data.month}}<i class="unit">亿</i> </span>
              </p>
              <p v-if="this.$route.path !== '/customer/Deposit'">
                <span class="prev-month-name">同比</span>
                <i class="icon-val-down"></i>
                <span class="prev-month-val month-val-down">{{data.year}}<i class="unit">亿</i> </span>
              </p>
            </div>

          </div>
        </div>
      </div>
      <!-- end of left -->

    </div>
    <Area :index="tindex" />
  </div>
</template>

<script>
import Area from '@/components/chart-components/Area'
export default {
  props: {
    titleType: {
      type: String,
      required: false,
      default: () => {
        return '存款余额'
      }
    }
  },
  data () {
    return {
      tindex: 0,
      data: {}
    }
  },
  mounted () {
    if (this.$route.path === '/customer/IntermediateIncome') {
      this.data = {
        total: '65',
        month: 15,
        year: 10
      }
      this.tindex = 3
    }
    if (this.$route.path === '/customer/Loan') {
      this.data = {
        total: '200',
        month: 1.5,
        year: 5
      }
    }

    if (this.$route.path === '/customer/Deposit') {
      this.data = {
        total: '2',
        month: 0.2,
        year: 10
      }
    }
  },
  components: {
    Area
  },
  watch: {
    titleType (val, newValue) {
      if (val === '存款月日均') this.tindex = 1
      else if (val === '存款年日均') this.tindex = 2
      else if (val === '存款余额') this.tindex = 0

      if (this.titleType === '存款余额') {
        this.data.month = 0.2
        this.data.total = 2
      } else if (this.titleType === '存款月日均') {
        this.data.month = 0.15
        this.data.total = 1.5
      } else {
        this.data.month = 0.12
        this.data.total = 1.2
      }
    },
    $route (to, from) {
      if (to === '/customer/IntermediateIncome') {
        this.tindex = 3
      }
    }

  }
}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  width: 100%;

  .card-content-box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 46px;
    margin-bottom: 49px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
      font-weight: normal;
      margin-left: 5px;
    }

    .letf-number {
      font-weight: bold;
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px 15px;
    }
  }

  .prev-month {
    display: flex;
    p {
      margin: 0 20px;
    }
    .prev-month-name {
      font-size: 26px;
    }
    .prev-month-val {
      font-size: 40px;
    }

    .month-val-down {
      color: #0dcd87;

      .unit {
        color: #0dcd87;
      }
    }
    .month-val-up {
      color: #f73563;
      .unit {
        color: #dd3f6f;
      }
    }
    .unit {
      font-size: 20px;
      font-style: normal;
    }
  }
}
</style>
