<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="进件明细-审批中">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select" @click="showPicker=true">
            在岗时长：全部
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
        <van-popup v-model="showPicker" position="bottom">
      <van-picker show-toolbar :columns="['7天','14天','一个月']" @cancel="showPicker = false" @confirm="showPicker = false" />
    </van-popup>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      showPicker: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        unit: '',
        width: '10%'
      },
      {
        name: '进件',
        key: 'jj',
        unit: '',
        width: '15%'
      },
      {
        name: '客户',
        key: 'kh',
        unit: '',
        width: '14%',
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '申报金额',
        key: 'sbje',
        isSort: 1,
        unit: '亿',
        width: '23%'
      },
      {
        name: '申报品种',
        key: 'sbpz',
        unit: '亿',
        width: '23%'
      },
      {
        name: '状态',
        key: 'zt',
        unit: '',
        width: '15%'
      }
      ],
      gridData: [{
        ph: '1',
        jj: 'L0401',
        kh: '**控股',
        sbje: '0.8',
        sbpz: '项目贷款',
        zt: '审批中'
      }, {
        ph: '2',
        jj: 'L0402',
        kh: '**控股',
        sbje: '1.2',
        sbpz: '综合授信',
        zt: '审批中'
      }, {
        ph: '3',
        jj: 'L0403',
        kh: '**城建',
        sbje: '1.8',
        sbpz: '并购贷款',
        zt: '审批中'
      }, {
        ph: '4',
        jj: 'L0404',
        kh: '**水利',
        sbje: '1.1',
        sbpz: '综合授信',
        zt: '审批中'
      }, {
        ph: '5',
        jj: 'L0405',
        kh: '**信息',
        sbje: '0.3',
        sbpz: '项目贷款',
        zt: '已退件'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;
    .card-content {
      .interlayer {
        display: flex;
        justify-content: center;
        .select {
          color: #6195FF;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 32px;
          padding: 31px 14px 56px;
          i.select-play-bottom {
            transform: rotate(90deg);
            padding-left: 10px;
            padding: 0 0 8px 0px !important;
          }
        }
      }

    }

  }

</style>
