<template>
  <div class="card-box">
    <div class="card-content-box content-box-left">
      <p class="content-left-title">创利</p>
      <div class="left-number">
        <div class="left-number-box">
          已实现
          <p class="letf-number">308<span class="unit">万</span></p>
        </div>
        <div class="left-number-box">年内预计<p class="letf-number">258<span class="unit">万</span></p>
        </div>
      </div>
    </div>
    <div class="card-content-box content-right">
      <p class="content-left-title">奖费</p>
      <div class="left-number">
        <div class="left-number-box">
          年内预计
          <p class="letf-number">24<span class="unit">万</span></p>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  .content-box-left {
    width: 437.5px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .card-content-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 204px;
    box-sizing: border-box;
    margin-top: 43px;
    margin-bottom: 49px;
  }

  .content-right {
    width: 271px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 52px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
    }

    .letf-number {
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px;
    }
  }
}
</style>
