<template>
  <div class="content">
    <div class="card-box">
      <!-- left -->
      <div class="card-content-box content-box-left">
        <!-- <p class="content-left-title">已授信客户</p> -->
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">130<span class="unit">{{customerLoan === 4 ? '万' : '件'}}</span></p>
            <div class="prev-month">
              <p>
                <span class="prev-month-name">比上月</span>
                <i class="icon-val-up"></i>
                <span class="prev-month-val month-val-up">{{data.month}}<i class="unit">{{customerLoan === 4 ? '万' : '件'}}</i> </span>
              </p>
              <p>
                <span class="prev-month-name">比上年</span>
                <i class="icon-val-down"></i>
                <span class="prev-month-val month-val-down">{{data.year}}<i class="unit">{{customerLoan === 4 ? '万' : '件'}}</i> </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of left -->

    </div>
    <!-- Interval -->
    <Interval :index="index" />
    <!-- end of Interval -->
  </div>
</template>

<script>
import Interval from '@/components/chart-components/Interval'
export default {
  components: {
    Interval
  },
  props: {
    customerLoan: {
      type: Number,
      required: false,
      default: () => {
        return 1
      }
    }
  },
  data () {
    return {
      index: 0,
      data: {
        month: 2,
        year: 1
      }
    }
  },
  mounted () {
    // console.log(this.customerLoan)

  },
  watch: {
    customerLoan (val, newV) {
      if (val === 3) this.index = 1
      else if (val === 4) this.index = 2
      else if (val === 1) this.index = 0
      console.log(val, this.index)

      // 数据切换
      if (val === 4) {
        this.data = {
          month: 1,
          year: 0.5
        }
      } else if (val === 3) {
        this.data = {
          month: 2,
          year: 1
        }
      } else if (val === 1) {
        this.data = {
          month: 2,
          year: 1
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  width: 100%;

  .card-content-box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 46px;
    margin-bottom: 49px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
      font-weight: normal;
      margin-left: 5px;
    }

    .letf-number {
      font-weight: bold;
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px 15px;
    }
  }

  .prev-month {
    display: flex;
    p {
      margin: 0 20px;
    }
    .prev-month-name {
      font-size: 26px;
    }
    .prev-month-val {
      font-size: 40px;
    }

    .month-val-down {
      color: #0dcd87;

      .unit {
        color: #0dcd87;
      }
    }
    .month-val-up {
      color: #f73563;
      .unit {
        color: #dd3f6f;
      }
    }
    .unit {
      font-size: 20px;
      font-style: normal;
    }
  }
}
</style>
