<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="风险">
      <template slot="interlayer">
        <div class="interlayer">
          <van-row>
            <van-col span="12">
              <div class="fund-info">
                <p class="content-left-row">
                  <span class="row-name">问题资产</span>
                  <span class="row-number">2</span>
                  <span class="row-unit">笔</span>
                </p>
              </div>
            </van-col>
            <van-col span="12">
              <div class="fund-info">
                <p class="content-left-row">
                  <span class="row-name">金额</span>
                  <span class="row-number">200</span>
                  <span class="row-unit">亿</span>
                </p>
              </div>
            </van-col>
          </van-row>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'
import {
  Row,
  Col
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Row.name]: Row,
    [Col.name]: Col
  },
  data () {
    return {
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '15%',
        fixed: true
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '20%',
        fixed: true,
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '借据号',
        key: 'jjh',
        width: '20%'
      },
      {
        name: '逾期天数',
        key: 'yqts',
        isSort: 1,
        unit: '天',
        width: '22%'
      },
      {
        name: '金额',
        key: 'je',
        unit: '百万',
        isSort: 1,
        width: '22%'
      },
      {
        name: '起息日',
        key: 'qxr',
        isSort: 1,
        width: '25%'
      },
      {
        name: '到期日',
        key: 'dqr',
        isSort: 1,
        unit: '天',
        width: '25%'
      }
      ],
      gridData: [{
        ph: '1',
        kh: '**农业',
        jjh: 'LL9001',
        yqts: '14',
        je: '30',
        qxr: '2020.04.15',
        dqr: '2020.04.15'
      }, {
        ph: '2',
        kh: '**酒业',
        jjh: 'LL9020',
        yqts: '7',
        je: '20',
        qxr: '2020.04.17',
        dqr: '2020.04.15'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 122px;

        .van-row {
          height: 100%;
        }

        .van-col {
          height: 100%;
        }

        .fund-info {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          .row-name {
            font-size: 24px;
          }

          .row-number {
            padding-left: 16px;
            padding-right: 4px;
            font-size: 40px;
            color: #6195FF;
          }

          .row-unit {
            opacity: 0.6;
            font-size: 24px;
            color: #6195FF;
          }
        }
      }

    }

  }

</style>
