<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="客户清单-已审批">
      <template slot="interlayer">
        <div class="interlayer">
          <div class="select" @click="showPicker=true">
            新客户
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
        <van-popup v-model="showPicker" position="bottom">
      <van-picker show-toolbar :columns="['新客户','老客户']" @cancel="showPicker = false" @confirm="showPicker = false" />
    </van-popup>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'
import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: {},
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      showPicker: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '14%',
        fixed: true
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '20%',
        fixed: true,
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '行业',
        key: 'hy',
        isSort: 0,
        unit: '',
        width: '18%'
      },
      {
        name: '规模',
        key: 'gm',
        unit: '亿',
        width: '23%'
      },
      {
        name: '授信金额',
        key: 'sxje',
        isSort: 1,
        unit: '亿',
        width: '24%'
      },
      {
        name: '授信品种',
        key: 'sxpz',
        unit: '',
        width: '18%'
      },
      {
        name: '状态',
        key: 'test1',
        unit: '',
        width: '25%'
      }
      ],
      gridData: [{
        ph: 'L0401',
        kh: '**水利',
        hy: '水利',
        gm: '项目贷款',
        sxje: '0.8',
        sxpz: '综合授信',
        test1: '通过'
      }, {
        ph: 'L0402',
        kh: '**烟草',
        hy: '制造',
        gm: '综合授信',
        sxje: '1.2',
        sxpz: '并购贷款',
        test1: '通过'
      }, {
        ph: 'L0403',
        kh: '**城建',
        hy: '建筑',
        gm: '并购贷款',
        sxje: '1.8',
        sxpz: '综合授信',
        test1: '通过'
      }, {
        ph: 'L0404',
        kh: '**矿业',
        hy: '采矿',
        gm: '98',
        sxje: '1.1',
        sxpz: '发债',
        test1: '通过'
      }, {
        ph: 'L0405',
        kh: '**信息',
        hy: '信息',
        gm: '项目贷款',
        sxje: '0.3',
        sxpz: '项目贷款',
        test1: '否决'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;
    .card-content {
      .interlayer {
        display: flex;
        justify-content: center;
        .select {
          color: #6195FF;
          height: 45px;
          display: flex;
          align-items: center;
          font-size: 32px;
          padding: 31px 14px 56px;
          i.select-play-bottom {
            transform: rotate(90deg);
            padding-left: 10px;
            padding: 0 0 8px 0px !important;
          }
        }
      }

    }

  }

</style>
