<template>
  <div class="card-box">
    <div class="card-content-box content-box-left">
      <p class="content-left-row">
        <span class="row-name">审批中</span>
        <span class="row-number">23</span>
        <span class="row-unit">件</span>
      </p>
      <p class="content-left-row">
        <span class="row-name">关联客户</span>
        <span class="row-number">13</span>
        <span class="row-unit">户</span>
      </p>
    </div>
    <div class="card-content-box">
      <p class="content-left-row">
        <span class="row-name">其中退件</span>
        <span class="row-number">2</span>
        <span class="row-unit">件</span>
      </p>
      <p class="content-left-row">
        <span class="row-name">平均在岗时长</span>
        <span class="row-number">3</span>
        <span class="row-unit">天</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  .content-box-left {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
  .card-content-box {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 204px;
    box-sizing: border-box;
    margin-top: 43px;
    margin-bottom: 49px;
  }

  .content-right {
    width: 271px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 52px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
    }

    .letf-number {
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px;
    }
  }

  .content-left-row {
    font-size: 26px;
    margin-bottom: 40px;
    .row-name {
      display: inline-block;
      width: 175px;
    }
    .row-number {
      font-size: 40px;
      color: #6195ff;
      font-weight: bold;
    }

    .row-unit {
      font-size: 20px;
      color: #6195ff;
      margin-left: 5px;
    }
  }
}
</style>
