<template>
  <div class="content">
    <CardItem class="card-content" title-type="dot-title" title="产品成本明细表（万）">
      <template slot="interlayer">
        <div class="interlayer">

        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '营销产品',
        key: 'yxcp',
        width: '25%'
      },
      {
        name: '产品规模',
        key: 'zpgm',
        width: '50%'
      },
      {
        name: '成本率',
        key: 'cbl',
        width: '25%'
      }
      ],
      gridData: [{
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }, {
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }, {
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }, {
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }, {
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }, {
        yxcp: '-',
        zpgm: '-',
        cbl: '-'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 17px;
      }

    }

  }

</style>
