<template>
  <div class="content">
    <CardItem class="card-content" title-type="dot-title" title="银行授信融资占比（亿）">
      <template slot="interlayer">
        <div class="interlayer">

        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '融资方式',
        key: 'rzfs',
        width: '23%'
      },
      {
        name: '银行名称',
        key: 'yhmc',
        width: '20%'
      },
      {
        name: '总额度',
        key: 'zed',
        width: '20%'
      },
      {
        name: '已用',
        key: 'yy',
        width: '20%'
      },
      {
        name: '未用',
        key: 'wy',
        width: '17%'
      }
      ],
      gridData: [{
        rzfs: '银行授信',
        yhmc: '农业银行',
        zed: '625.08',
        yy: '371.43',
        wy: '253.65'
      }, {
        rzfs: '银行授信',
        yhmc: '招商银行',
        zed: '544.05',
        yy: '158.88',
        wy: '385.17'
      }, {
        rzfs: '银行授信',
        yhmc: '工商银行',
        zed: '453.33',
        yy: '229.12',
        wy: '224.21'
      }, {
        rzfs: '银行授信',
        yhmc: '中国银行',
        zed: '373.71',
        yy: '224.61',
        wy: '149.10'
      }, {
        rzfs: '银行授信',
        yhmc: '其他银行',
        zed: '2676.17',
        yy: '1583.28',
        wy: '1092.89'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 17px;
      }

    }

  }

</style>
