<template>
  <div class="content">
    <CardItem class="card-content" title-type="dot-title" title="中间业务收入明细">
      <template slot="interlayer">
        <div class="interlayer">

        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '日期',
        key: 'rq',
        unit: '',
        width: '27%'
      },
      {
        name: '中间业务',
        key: 'zjyw',
        unit: '',
        width: '53%'
      },
      {
        name: '金额(万)',
        key: 'je',
        width: '20%'
      }
      ],
      gridData: [{
        rq: '2020.04.15',
        zjyw: '跨境E平台直连',
        je: '0.94'
      }, {
        rq: '2020.04.17',
        zjyw: '跨境E平台直连',
        je: '0.95'
      }, {
        rq: '2020.04.16',
        zjyw: '跨境E平台直连',
        je: '0.91'
      }, {
        rq: '2020.04.18',
        zjyw: '跨境E平台直连',
        je: '0.93'
      }, {
        rq: '2020.04.13',
        zjyw: '跨境E平台直连',
        je: '0.90'
      }, {
        rq: '2020.04.10',
        zjyw: '跨境E平台直连',
        je: '0.99'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 17px;
      }

    }

  }

</style>
