<template>
  <div class="content">
    <CardItem class="card-content" title-type="dot-title" title="高成本存款明细">
      <template slot="titleSelect">
        <div class="select-or-search">
          <div class="select" @click="showPicker=true">
            {{status===2?'定期':status===3?'理财':'全部'}}
            <van-icon class="select-play-bottom" name="play" size="8px" color="#6195FF" />
          </div>
          <div class="serach-skip">
            全行FTP查询
            <van-icon name="arrow" />
          </div>
        </div>
      </template>
      <template slot="interlayer">
        <div class="interlayer">
          <div class="text">*要匹配综合收益哦！</div>
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>

    <van-popup v-model="showPicker" position="bottom">
      <van-picker show-toolbar :columns="['全部','定期','理财']" @cancel="showPicker = false" @confirm="showPicker = false" />
    </van-popup>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'
import {
  Icon,
  Picker,
  popup
} from 'vant'
export default {
  props: {
    status
  },
  components: {
    CardItem,
    Cardtable,
    [Icon.name]: Icon,
    [Picker.name]: Picker,
    [popup.name]: popup
  },
  data () {
    return {
      tableData: {},
      showPicker: false,
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '10%',
        fixed: true
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '28%',
        fixed: true,
        style: {
          color: '#6195FF'
        },
        path: 'analysis-overview'
      },
      {
        name: '产品',
        key: 'cp',
        isSort: 0,
        unit: '',
        width: '27%'
      },
      {
        name: '期限',
        key: 'qx',
        isSort: 1,
        unit: '天',
        width: '10%'
      },
      {
        name: '付息率',
        key: 'fxl',
        isSort: 1,
        unit: '%',
        width: '22%'
      },
      {
        name: '分行平均付息率',
        key: 'pjfxl',
        isSort: 1,
        unit: '%',
        width: '38%'
      },
      {
        name: 'FTP',
        key: 'ftp',
        isSort: 1,
        unit: '%',
        width: '20%'
      },
      {
        name: '到期时间',
        key: 'dqsj',
        isSort: 1,
        unit: '',
        width: '25%'
      },
      {
        name: '金额',
        key: 'je',
        isSort: 1,
        unit: '亿',
        width: '25%'
      }
      ],
      gridData: [{
        ph: '1',
        kh: '珠海格力电器',
        cp: '单位大额存单',
        qx: '7',
        pjfxl: '2.18',
        fxl: '3.52',
        ftp: '1.70',
        dqsj: '2020.05.02',
        je: '2'
      },
      {
        ph: '2',
        kh: '珠海格力电器',
        cp: '阶梯财富B',
        qx: '14',
        pjfxl: '2.18',
        fxl: '3.75',
        ftp: '1.23',
        dqsj: '2020.05.09',
        je: '1.2'
      },
      {
        ph: '3',
        kh: '比亚迪汽车',
        cp: '结构性存款',
        qx: '7',
        pjfxl: '1.98',
        fxl: '3.48',
        ftp: '1.27',
        dqsj: '2020.04.27',
        je: '0.8'
      },
      {
        ph: '4',
        kh: '比亚迪汽车',
        cp: '单位大额存单',
        qx: '60',
        pjfxl: '1.71',
        fxl: '3.75',
        ftp: '1.56',
        dqsj: '2020.06.03',
        je: '3'
      },
      {
        ph: '5',
        kh: '世纪城置业',
        cp: '阶梯财富B',
        qx: '30',
        pjfxl: '1.89',
        fxl: '3.75',
        ftp: '1.67',
        dqsj: '2020.05.20',
        je: '1.5'
      }
      ]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {

    .card-content {
      .select-or-search {
        display: flex;
        flex-direction: row;
        color: #6195FF;
        .select {
          .select-play-bottom {
            transform: rotate(90deg);
          }
        }

        .serach-skip {
            font-size:24px;
            align-items: center;
            display: flex;
        }

        >div:nth-last-child(n+2){
          margin-right: 60px;
        }
      }

      .interlayer {
        margin: 0 0 33px 0;
        letter-spacing: 0;
        text-align: right;
        color: #fff;

        .text {
          display: inline-block;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 24px;
          border-radius: 24px;
          padding: 8px 24px;
          margin-right: 24px;
          font-size: 24px;
          letter-spacing: 0;
          text-align: justify;
        }
      }
    }

  }

</style>
