<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="风险">
      <template slot="interlayer">
        <div class="interlayer">

        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '排行',
        key: 'ph',
        isSort: 0,
        unit: '',
        width: '15%'
      },
      {
        name: '客户',
        key: 'kh',
        isSort: 0,
        unit: '',
        width: '15%',
        style: { color: '#6195FF' },
        path: 'analysis-overview'
      },
      {
        name: '金额',
        key: 'je',
        unit: '百万',
        isSort: 1,
        width: '20%'
      }
      ],
      gridData: [{
        ph: '1',
        kh: '深圳',
        je: '3',
        qxr: '2020.04.15',
        dqr: '2020.04.15'
      }, {
        ph: '2',
        kh: '北京',
        je: '2',
        qxr: '2020.04.17',
        dqr: '2020.04.15'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {

      }

    }

  }

</style>
