<template>
  <div class="content">
    <CardItem class="card-content" title-type="line-title" title="生态圈客户">
      <template slot="interlayer">
        <div class="interlayer">
        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '客户',
        key: 'kh',
        unit: '',
        width: '35%',
        fixed: true
      },
      {
        name: 'EVA',
        key: 'eva',
        unit: '万',
        width: '35%'
      },
      {
        name: '中收',
        key: 'zs',
        unit: '万',
        width: '30%'
      },
      {
        name: '贷款规模',
        key: 'dkgm',
        unit: '万',
        width: '24%'
      },
      {
        name: '存款规模',
        key: 'ckgm',
        unit: '万',
        width: '24%'
      }
      ],
      gridData: [{
        kh: '瑞嘉投资实业有限公司',
        eva: '7526061.01',
        zs: '1030.76',
        dkgm: '5316722.67',
        ckgm: '2208307.59'
      }, {
        kh: '招商局通商融资租赁有限公司',
        eva: '1960055.45',
        zs: '184.67',
        dkgm: '1886522.44',
        ckgm: '73348.34'
      }, {
        kh: '招商局融资租赁(香港)控股有限公司',
        eva: '1191796.98',
        zs: '399763.91',
        dkgm: '783659.17',
        ckgm: '8373.90'
      }, {
        kh: '招商局集团(香港)有限公司',
        eva: '92546.32',
        zs: '1006.24',
        dkgm: '0',
        ckgm: '91540.08'
      }, {
        kh: '深圳市招华国际会展发展有限公司',
        eva: '6758.18',
        zs: '70.755',
        dkgm: '0',
        ckgm: '6687.4227'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 59px;
      }

    }

  }

</style>
