<template>
  <div class="content">
    <div class="card-box">
      <!-- left -->
      <div class="card-content-box content-box-left">
        <p class="content-left-title">客户</p>
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">{{data.grantingCustomer}}<span class="unit">户</span></p>
            <p class="prev-month">
              <span class="prev-month-name">比上月</span>
              <i class="icon-val-up"></i>
              <span class="prev-month-val month-val-up">{{data.grantingPervMonth}}<i class="unit">户</i> </span>
            </p>
            <p class="prev-month">
              <span class="prev-month-name">比上年</span>
              <i class="icon-val-down"></i>
              <span class="prev-month-val month-val-down">{{data.grantingPervYear}}<i class="unit">户</i> </span>
            </p>
          </div>
        </div>
      </div>
      <!-- end of left -->
      <!-- right -->
      <div class="card-content-box content-box-left">
        <p class="content-left-title">已授信客户</p>
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">{{data.customer}}<span class="unit">户</span></p>
            <p class="prev-month">
              <span class="prev-month-name">比上月</span>
              <i class="icon-val-up"></i>
              <span class="prev-month-val month-val-up">{{data.pervMonth}}<i class="unit">户</i> </span>
            </p>
            <p class="prev-month">
              <span class="prev-month-name">比上年</span>
              <i class="icon-val-down"></i>
              <span class="prev-month-val month-val-down">{{data.pervYear}}<i class="unit">户</i> </span>
            </p>
          </div>
        </div>
      </div>
      <!-- end of right -->

    </div>
    <!-- fuuel -->
    <!-- <Funnel /> -->
    <div class="img-box">
            <img
              src="@/assets/funnel.png"
              width="100%"
              class="img-point"
            />
          </div>
    <!-- end of fuuel -->
  </div>
</template>

<script>
// import Funnel from '@/components/chart-components/Funnel'
export default {
  props: {
    type: {
      type: String,
      required: false,
      default: () => {
        return ''
      }
    }
  },
  data () {
    return {
      data: {
        grantingCustomer: 20,
        grantingPervMonth: 3,
        grantingPervYear: 3,
        customer: 40,
        pervMonth: 10,
        pervYear: 10
      }
    }
  },
  components: {
    // Funnel
  },
  mounted () {
    if (this.type === 'nowApply') {
      this.data = {
        grantingCustomer: 20,
        grantingPervMonth: 3,
        grantingPervYear: 3,
        customer: 40,
        pervMonth: 10,
        pervYear: 10
      }
    }
  }
}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  width: 100%;

  .card-content-box {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 46px;
    margin-bottom: 49px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
      font-weight: normal;
      margin-left: 5px;
    }

    .letf-number {
      font-weight: bold;
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px 15px;
    }
  }

  .prev-month {
    .prev-month-name {
      font-size: 26px;
    }
    .prev-month-val {
      font-size: 40px;
    }

    .month-val-down {
      color: #0dcd87;

      .unit {
        color: #0dcd87;
      }
    }
    .month-val-up {
      color: #f73563;
      .unit {
        color: #dd3f6f;
      }
    }
    .unit {
      font-size: 20px;
      font-style: normal;
    }
  }
}
.img-box {
  padding: 40px;
  .img-point {
    margin-bottom: 20px;
  }
}
</style>
