<template>
  <div class="content">
    <div class="card-box">
      <!-- left -->
      <div class="card-content-box content-box-left">
        <p class="content-left-title">EVA</p>
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">442.2<span class="unit">万</span></p>
            <p class="prev-month">
              <span class="prev-month-name">比上月</span>
              <i class="icon-val-up"></i>
              <span class="prev-month-val month-val-up">5<i class="unit">%</i></span>
            </p>
          </div>
        </div>
      </div>
      <!-- end of left -->
      <!-- right -->
      <div class="card-content-box content-box-left">
        <p class="content-left-title">价值区间排名</p>
        <div class="left-number">
          <div class="left-number-box">
            <p class="letf-number">2<span class="unit">名</span></p>
            <p class="prev-month">
              <span class="prev-month-name">较上期</span>
              <i class="icon-val-up"></i>
              <span class="prev-month-val month-val-up">1<i class="unit">名</i></span>
            </p>
          </div>
        </div>
      </div>
      <!-- end of right -->

    </div>
    <!-- 区间图 -->
    <IntervalSection></IntervalSection>
    <!-- 区间图 -->
  </div>
</template>

<script>
import IntervalSection from '@/components/chart-components/IntervalSection'
export default {
  components: {
    IntervalSection
  }
}
</script>

<style lang="less" scoped>
.card-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  width: 100%;

  .card-content-box {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 46px;
    margin-bottom: 49px;
  }

  .content-left-title {
    font-size: 32px;
  }
  .left-number {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
  }

  .left-number-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .unit {
      font-size: 24px;
      font-weight: normal;
      margin-left: 5px;
    }

    .letf-number {
      font-weight: bold;
      margin-top: 5px;
      color: #6195ff;
      font-size: 48px;
      margin: 0 30px 15px;
    }
  }

}

.prev-month {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0 20px;
    }
    .prev-month-name {
      font-size: 26px;
      opacity: 0.6;
      color: #fff;
      margin-right: 20px;
    }
    .prev-month-val {
      font-size: 26px;
      margin-left: 6px;
      margin-top: 3px;
    }

    .month-val-down {
      color: #0dcd87;

      .unit {
        color: #0dcd87;
      }
    }
    .month-val-up {
      color: #f73563;
      .unit {
        color: #dd3f6f;
      }
    }
    .unit {
      font-size: 20px;
      font-style: normal;
    }
  }
</style>
