<template>
  <div class="content">
    <CardItem class="card-content" title-type="dot-title" title="客户发债成本明细">
      <template slot="interlayer">
        <div class="interlayer">

        </div>
      </template>
      <template slot="body">
        <div class="body">
          <Cardtable :data="gridData" :columns="gridColumns"></Cardtable>
        </div>
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem.vue'
import Cardtable from '@/components/common/Cardtable.vue'

export default {
  props: {},
  components: {
    CardItem,
    Cardtable
  },
  data () {
    return {
      gridColumns: [{
        name: '日期',
        key: 'rq',
        unit: '',
        width: '23%',
        fixed: true
      },
      {
        name: '证券代码',
        key: 'zqdm',
        unit: '',
        width: '38git%'
      },
      {
        name: '债券简称',
        key: 'zqjc',
        width: '39%'
      },
      {
        name: '成本值',
        key: 'cbz',
        unit: '%',
        width: '25%'
      },
      {
        name: '期限',
        key: 'qx',
        unit: 'Y',
        width: '25%'
      },
      {
        name: '剩余期限',
        key: 'syqx',
        unit: '',
        width: '25%'
      }
      ],
      gridData: [{
        rq: '2020.04.14',
        zqdm: 'B1382305.XCIB',
        zqjc: '19招商局MTN0078',
        cbz: '3.25',
        qx: '4.28',
        syqx: '4.28Y+NY'
      }, {
        rq: '2020.04.17',
        zqdm: 'B101900947.XCIB',
        zqjc: '19招商局MTN0068',
        cbz: '3.26',
        qx: '4.28',
        syqx: '4.28Y+NY'
      }, {
        rq: '2020.04.16',
        zqdm: 'B101900947.XCIB',
        zqjc: '19招商局MTN0068',
        cbz: '3.26',
        qx: '4.28',
        syqx: '4.28Y+NY'
      }, {
        rq: '2020.04.18',
        zqdm: 'B101900946.XCIB',
        zqjc: '19招商局MTN006A',
        cbz: '2.9',
        qx: '4.28',
        syqx: '4.28Y+NY'
      }, {
        rq: '2020.04.13',
        zqdm: 'B101900707.XCIB',
        zqjc: '19招商局MTN004A',
        cbz: '3.05',
        qx: '4.28',
        syqx: '4.28Y+NY'
      }]
    }
  },
  mounted () {

  }
}

</script>

<style lang="less" scoped>
  .content {
    font-family: PingFangSC-Semibold;

    .card-content {
      .interlayer {
        height: 17px;
      }

    }

  }

</style>
