<template>
  <div class="constractive-text-wrap">
    <h1 class="title">{{title}}</h1>
    <h2 class="sub-title">{{subTitle}}</h2>
    <p class="num" :class="activeClass == index ? 'active':''">
      {{num}}
      <span>{{unit}}</span>
    </p>
    <ul class="sub-num-wrap">
        <li v-for="item in subNums" :key="item.text">
          <span class="sub-num-title">{{ item.text }}</span>
          <span :class="item.up" class="sub-num">
            <span :class="item.up" class="icon-up-down"></span>
            {{item.subNum}}
          </span>
        </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ContrastiveText',
  props: {
    title: {
      type: String,
      default: 'title'
    },
    subTitle: {
      type: String,
      default: 'subTitle'
    },
    num: {
      type: Number,
      default: 50
    },
    unit: {
      type: String,
      default: '%'
    },
    subNums: {
      type: Array,
      default () {
        return []
      }
    },
    index: {
      type: Number,
      default: 50
    },
    activeClass: {
      type: Number,
      default: 50
    }
  },
  components: {}
}
</script>
<style lang="less" scoped>
.constractive-text-wrap {
  .title {
    font-family: PingFangSC-Medium;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
  }
  .sub-title {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    height: 33px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
  }
  .num {
    margin: 17px auto 27px;
    font-family: BebasNeue;
    font-size: 84px;
    line-height: 101px;
    color: #6195ff;
    letter-spacing: 0;
    text-align: center;
    &.active{
      color: white;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 0;
      text-align: justify;
    }
  }
  .sub-num-wrap {
    width: 230px;
    margin: 0 auto;
    li{
        font-family: PingFangSC-Regular;
        font-size: 26px;
        line-height: 24px;
        color: #d3dbfd;
        line-height: 37px;
        display: flex;
        align-items: flex-end;
        .sub-num-title{
          flex:1;
          text-align: left;
        }
    }
    span.sub-num {
      flex:1;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      line-height: 37px;
      text-align: right;
      margin-left:0px;
      &.up{
        color: #f73563;
      }
      &.down{
        color: #0DCD87;
      }
    }
    .icon-up-down{
      display: inline-block;
      width:16px;
      height: 19px;
      text-align: right;
      &.up {
        background: url("~@/assets/analysis/up.svg") no-repeat 0px center;
        background-size: 16px 19px;
      }
      &.down {
        background: url("~@/assets/bonus/down.svg") no-repeat 0px center;
        background-size: 16px 19px;
      }
    }

  }
}
</style>
