<template>
  <div class="counter-wrap">
    <span class="count-icon decrease" v-bind:disabled="info.value === 0" v-on:click="min"></span><span class="num">{{info.value}}{{info.unit}}</span><span class="count-icon add" v-on:click="add"></span>
  </div>
  <!-- <input class="num" name="pricenum" type="text" readonly="readonly" v-model="counter" /> -->
</template>
<script>
// const noLinkage = ['活期', '定期', '单位大额存单']

export default {
  name: 'Counter',
  components: {},
  props: {
    title: {
      type: String,
      default: ''
    },
    info: {
      type: Object,
      default: () => ({})
    }
  },
  mounted () {
    // console.log('info.value', this.info.value)
  },
  computed: {},
  methods: {
    add () {
      if (!this.title) {
        return
      }
      this.info.value = Number(this.info.value) + Number(this.info.step)
      const data = {
        title: this.title,
        value: this.info.value,
        unit: this.info.unit
      }
      this.$emit('handleCounter', data)
    },
    min () {
      if (!this.title) {
        return
      }
      this.info.value = Number(this.info.value) - Number(this.info.step)
      const data = {
        title: this.title,
        value: this.info.value,
        unit: this.info.unit
      }
      this.$emit('handleCounter', data)
      // console.log(this.info.value)
    }
  }
}
</script>
<style lang="less" scoped>
.counter-wrap {
  text-align: center;
  .num {
    display: inline-block;
    width: 95px;
    height: 33px;
    line-height: 33px;
    background: #6195ff;
    border-radius: 4px;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #ffffff;
    margin: 0 7px;
    text-align: center;
    outline: none;
    border: 0px;
    caret-color: #fff;
    vertical-align: middle;
  }
  .count-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    color: #fff;
    vertical-align: middle;
    &.decrease {
      background: url('~@/assets/bonus/subtract.svg') no-repeat center center;
      width: 22px;
    }
    &.add {
      width: 24px;
      height: 24px;
      background: url('~@/assets/bonus/add.svg') no-repeat center center;
      display: inline-block;
      // width: 22px;
      background-size: 24px 24px;
    }
  }
}
</style>
