<template>
  <div class="current-regular-finances">
    <div class="current">
      <p class="current-regular-finances-title" v-if="multiCounterInfo.title" v-html="multiCounterInfo.title"></p>
      <div class="current-regular-finances-item">
        <p>规模</p>
        <Counter :info="multiCounterInfo.size" :title="multiCounterInfo.title" v-on:handleCounter="getSize"/>
      </div>
      <div class="current-regular-finances-item">
        <p>期限</p>
        <Counter :info="multiCounterInfo.time"  :title="multiCounterInfo.title" v-on:handleCounter="getTime"/>
      </div>
      <div class="current-regular-finances-item">
        <p>定价</p>
        <Counter :info="multiCounterInfo.price"  :title="multiCounterInfo.title" v-on:handleCounter="getPrice"/>
      </div>
    </div>
  </div>
</template>

<script>
import Counter from '@/components/card-components/Counter'

export default {
  name: 'Home',
  props: {
    multiCounterInfo: {
      type: Object,
      default: () => ({
        title: ''
      })
    }
  },
  methods: {
    getSize (data) {
      this.$emit('handleMultiCounter', data)
    },
    getTime (data) {
      this.$emit('handleMultiCounter', data)
    },
    getPrice (data) {
      this.$emit('handleMultiCounter', data)
    }
  },
  components: {
    Counter
  }
}
</script>

<style lang="less" scoped>
.current-regular-finances {
  position: relative;
  margin-top: 46px;
  .current {
    display: flex;
    align-content: center;
    p.current-regular-finances-title {
      width: 108px;
      margin-left: 18px;
      font-family: PingFangSC-Medium;
      font-size: 24px;
      line-height: 33px;
      color: #ffffff;
      padding-top: 20px;
      box-sizing: border-box;
    }

    div.current-regular-finances-item {
      flex: 1;

      p {
        margin-bottom: 13px;
        opacity: 0.8;
        font-family: PingFangSC-Regular;
        font-size: 28px;
        line-height: 40px;
        color: #ffffff;
        text-align: center;
      }
    }
  }
  &:nth-of-type(1){
    .current{
      p.current-regular-finances-title{
      padding-top:26px;
     }
    }
  }
  &:nth-of-type(2){
    .current{
      p.current-regular-finances-title{
      padding-top:30px;
     }
    }
  }
  // &::after {
  //   // --widthA: 100px;
  //   // --widthB: calc(var(--widthA) / 2);
  //   // --widthC: calc(var(--widthB) / 2);
  //   // width: var(--widthC);
  //   content: ' ';
  //   position: absolute;
  //   width: 644px;
  //   height: 0;
  //   right: 0;
  //   bottom: -53px;
  //   left: calc(50% - 322px);
  //   background-color: #292929;
  //   border: 1px solid #292929;
  //   transform-origin: 0 0;
  //   transform: scaleY(0.5);
  // }
}
</style>
