<template>
  <div class="home">
    <!-- banner -->
    <img
      src="@/assets/banner.png"
      alt=""
      class="banner-img"
    >
    <!-- end of banner -->
    <!-- box -->
    <div class="index-search">
      <!-- nav -->
      <div class="nav">
        <a
          @click="pushLink(item)"
          v-for="(item, index) in titleMap"
          :key="index"
          to="null"
          :class="{active: item.name === '客户'}"
        >{{item.name}}
        </a>
      </div>
      <!-- end of nav -->
      <!-- search -->
      <div
        class="search-input"
        @click="pushAnalysis"
      >
        <van-icon
          name="search"
          class="icon-search"
        />
        <span class="search-text">搜索</span>
      </div>
      <!-- end of search -->
      <!-- flex-select -->
      <div class="flex-select">
        <div class="select-item">
          <p class="select-item-name">所有制
            <div class="select-box">
              <span>全部</span>
              <van-icon name="arrow-down" />
            </div>
        </div>
        <div class="select-item">
          <p class="select-item-name">所属行业
            <div class="select-box">
              <span>全部</span>
              <van-icon name="arrow-down" />
            </div>
        </div>
        <div class="select-item mr0">
          <p class="select-item-name">所属行业银行
            <div class="select-box">
              <span>全部</span>
              <van-icon name="arrow-down" />
            </div>
        </div>
      </div>
      <!-- end of flex-select -->
    </div>
    <!-- end of box -->
  </div>
</template>

<script>
import { Icon, DropdownMenu, DropdownItem } from 'vant'
export default {
  name: 'Home',
  components: {
    [Icon.name]: Icon,
    [DropdownMenu.name]: DropdownMenu,
    [DropdownItem.name]: DropdownItem
  },
  data () {
    return {
      titleMap: [{
        link: '',
        name: '全行'
      }, {
        link: '',
        name: '对公'
      }, {
        link: '',
        name: '资金同业'
      }, {
        link: '/customer/Bonus',
        name: '客户经理'
      },
      {
        link: '',
        name: '客户'
      }]
    }
  },
  methods: {
    // 路由跳转
    pushLink (item) {
      if (item.link === '') {
        return
      }
      this.$router.push({
        path: item.link
      })
    },
    pushAnalysis () {
      this.$router.push({
        path: '/analysis/search'
      })
    }
  }
}
</script>
<style lang="less" scoped>
.home {
  padding: 20px;
}
.banner-img {
  width: 100%;
}

.index-search {
  width: 710px;
  height: 426px;
  background: #2e3036;
  margin-top: 20px;
  border-radius: 28px;
  overflow: hidden;
}
.nav {
  margin-top: 24px;
  margin-bottom: 44px;

  a {
    position: relative;
    font-size: 32px;
    letter-spacing: 0;
    color: #ffffff;
    padding: 0 20px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  a.active::after {
    content: " ";
    position: absolute;
    right: 40px;
    bottom: -10px;
    width: 24px;
    height: 6px;
    background: #6195ff;
  }

  a.active {
    color: #6195ff;
    text-decoration: none;
  }

  a.router-link-exact-active {
    color: #6195ff;
  }
}

.search-input {
  width: 670px;
  height: 60px;
  margin: 0 auto;
  background: #383b43;
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  .icon-search {
    font-size: 30px;
    opacity: 0.4;
    color: #ffffff;
    margin-right: 20px;
  }

  .search-text {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.4;
  }
}

.flex-select {
  display: flex;
  margin-top: 30px;
  padding: 0 20px;
  .select-item {
    flex-direction: column;
    width: 200px;
    margin-right: 30px;
  }
  .select-item-name {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.65;
    text-align: left;
    margin-bottom: 8px;
  }
  .select-box {
    height: 60px;
    color: #fff;
    background: #383b43;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 28px;
    box-sizing: border-box;
    padding: 0 16px;
    justify-content: space-between;
  }

  .mr0{
    margin-right: 0;
  }
}
</style>
