<template>
  <div class="other-support-wrap interval">
    <ul class="person-wrap">
      <li class="job">
        <span class="job-name">O类责任领导：</span>
        <span class="name">刘星辰</span>
        <span class="icon phone no-contact"></span>
        <span class="icon eyes no-contact"></span>
      </li>
      <li class="job">
        <span class="job-name">主办客户经理：</span>
        <span class="name">李安</span>
        <span class="icon phone"></span>
        <span class="icon eyes"></span>
      </li>
      <li class="job">
        <span class="job-name">一年内权益客户经理：</span>
        <span class="name">黄艳</span>
        <span class="icon phone"></span>
        <span class="icon eyes"></span>
      </li>
      <li class="job">
        <span class="none job-name">一年内权益客户经理：</span>
        <span class="name">李林</span>
        <span class="icon phone"></span>
        <span class="icon eyes"></span>
      </li>
      <li class="job">
        <span class="none job-name">一年内权益客户经理：</span>
        <span class="name">陈丰</span>
        <span class="icon phone"></span>
        <span class="icon eyes"></span>
      </li>
      <li class="job">
        <span class="none job-name">一年内权益客户经理：</span>
        <span class="name">刘星辰</span>
        <span class="icon phone"></span>
        <span class="icon eyes"></span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'OtherSupport',
  data () {
    return {
      color: 'red',
      title: '融资总规模占比',
      subTitle: '平安银行/总渠道',
      num: 40,
      unit: '%',
      subNums: [
        {
          text: '较上月',
          subNum: '23.6%',
          up: false
        },
        {
          text: '同比',
          subNum: '0.6%',
          up: false
        }
      ]
    }
  },
  components: {}
}
</script>
<style lang="less" scoped>
.other-support-wrap {
  .person-wrap {
    li.job {
      position: relative;
      margin: 0 20px;
      padding: 30px 0 30px 26px;
      border-bottom: 2px solid #292929;
      font-family: PingFangSC-Medium;
      font-size: 28px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: justify;
      .none {
        opacity: 0;
      }
      .no-contact {
        display: none;
      }
      .name {
        opacity: 1;
      }
      .icon {
        position: absolute;
        top: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 16px;
        opacity: 1;
      }
      .phone {
        right: 110px;
        background: url('~@/assets/analysis/phone.svg') no-repeat center center;
        background-size: 60px;
      }
      .eyes {
        right: 0px;
        background: url('~@/assets/analysis/eyes.svg') no-repeat center center;
        background-size: 60px;
      }
    }
  }
}

.job-name{
  opacity: 0.8;
}
</style>
