<template>
  <div class="other-support-wrap">
    <ul class="product-support-wrap">
      <li class="case">案例库</li>
      <li class="product-person">产品库和产品经理</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ProductSupport',
  data () {
    return {
      color: 'red',
      title: '融资总规模占比',
      subTitle: '平安银行/总渠道',
      num: 40,
      unit: '%',
      subNums: [
        {
          text: '较上月',
          subNum: '23.6%',
          up: false
        },
        {
          text: '同比',
          subNum: '0.6%',
          up: false
        }
      ]
    }
  },
  components: {}
}
</script>
<style lang="less" scoped>
.product-support-wrap {
  padding:50px 30px;
  background: #2E3036;
  border-radius: 20px;
  &::after {
    display: block;
    clear: both;
    height: 0;
    content: '';
    visibility: hidden;
    overflow: hidden;
  }
  li {
    text-align: center;
    padding-top: 78px;
    float: left;
    margin-right: 78px;
    opacity: 0.8;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    line-height: 37px;
    color: #ffffff;
    text-align: center;
  }
  .case {
    background: url('~@/assets/analysis/case.svg') no-repeat center top;
    background-size: 58px 64px;
  }
  .product-person {
    background: url('~@/assets/analysis/product.svg') no-repeat center top;
    background-size: 58px 62px;
  }
}
</style>
