<template>
  <div class="home interval">
    <div class="tabs-title">
      <p class="tabs-title-name">存款总量</p>
      <div class="tabs-box">
        <p
          class="tabs-item"
          @click="tabsActive(1)"
          :class="{active:activeFlag === 1 }"
        >余额</p>
        <p
          class="tabs-item"
          @click="tabsActive(2)"
          :class="{active:activeFlag === 2 }"
        >月日均</p>
        <p
          class="tabs-item"
          @click="tabsActive(3)"
          :class="{active:activeFlag === 3 }"
        >年日均</p>
      </div>
    </div>
    <CardItem class="card-content">
      <template slot="body">
        <CardCenterLineArea :titleType="titleType"></CardCenterLineArea>
        <div class="chart-line"></div>
        <p class="brokenline-title">{{brokenlineTitle}}</p>
        <Brokenline :chartData=[8]></Brokenline>
      </template>
    </CardItem>
    <CardItem
      class="card-content"
      title-type="line-title"
      title="结构"
    >
      <template slot="body">
        <PieL :chartData="DepositChannel" :specialChartData="specialDepositChannel" :allChartData="allDepositChannel" :chartStyle="styleDepositChannel"/>
      </template>
    </CardItem>
    <CardTableGcbckmx :status="activeFlag"></CardTableGcbckmx>
    <CardTableDeckdq :status="activeFlag"></CardTableDeckdq>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import Brokenline from '@/components/chart-components/Brokenline'
import PieL from '@/components/chart-components/PieL'
import CardTableGcbckmx from '@/components/card-components/CardTableGcbckmx'
import CardTableDeckdq from '@/components/card-components/CardTableDeckdq'

import CardCenterLineArea from '@/components/card-components/CardCenterLineArea'

export default {
  name: 'Home',
  components: {
    CardItem,
    Brokenline,
    CardTableGcbckmx,
    CardTableDeckdq,
    PieL,
    CardCenterLineArea

  },
  data () {
    return {
      activeFlag: 1,
      titleType: '客户余额',
      brokenlineTitle: '存款户均',
      allDepositChannel: {
        title: '',
        value: ''
      },
      styleDepositChannel: {
        sidePadding: 70,
        inflectionOffset: 20,
        label1OffsetY: -20,
        label2OffsetY: -16,
        padding: [20, 40]
      },
      specialDepositChannel: [
        {
          name: '活期存款',
          percent: 17.55,
          color: '#6195FF',
          a: '1'
        }, {
          name: '定期存款',
          percent: 10.09,
          color: '#0DCD87',
          a: '1'
        }, {
          name: '保证金',
          percent: 46.78,
          color: '#F9BB4C',
          a: '1'
        }, {
          name: '理财',
          percent: 23.70,
          color: '#F73563',
          a: '1'
        }
      ],
      DepositChannel: [{
        name: '活期存款',
        percent: 17.55,
        color: '#6195FF',
        a: '1'
      }, {
        name: '定期存款',
        percent: 10.09,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '保证金',
        percent: 46.78,
        color: '#F9BB4C',
        a: '1'
      }, {
        name: '理财',
        percent: 23.70,
        color: '#F73563',
        a: '1'
      }]
    }
  },
  methods: {
    // tabs切换 1 余额 2 月日均 3 年日均
    tabsActive (val) {
      if (val === 1) {
        this.titleType = '存款余额'
        this.brokenlineTitle = '存款户均'
      } else if (val === 2) {
        this.titleType = '存款月日均'
        this.brokenlineTitle = '存款户均月日均'
      } else {
        this.titleType = '存款年日均'
        this.brokenlineTitle = '存款户均年日均'
      }
      this.activeFlag = val
    }
  }
}

</script>

<style lang="less" scoped>
.chart-line {
  width: 600px;
  height: 1px;
  margin: 0 auto;
  background-color: #212228;
  margin-bottom: 25px;
  margin-top: 60px;
}

.brokenline-title {
  font-size: 32px;
  color: #ffffff;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
}

.tabs-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .tabs-title-name {
    color: #fff;
    font-size: 36px;
    margin-left: 5px;
  }

  .tabs-box {
    display: flex;
    border: 2px solid #bcbdbe;
    border-radius: 36px;
    border-radius: 36px;
    width: 330px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;

    .tabs-item {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #fff;
    }

    .active {
      background-color: #cbcbcb;
      font-weight: bold;
      color: #212228;
      border-radius: 38px;
      border-radius: 38px;
    }
  }
}
</style>
