<template>
  <div class="bonus-wrap interval">
    <CardItem class="card-content" title-type="line-title" title="创利及奖费概况">
      <template slot="body">
        <CardBetween />
      </template>
    </CardItem>
    <CardItem class="card-content" title-type="line-title" title="创利及奖费概况">
      <template slot="body">
        <div class="pie-box">
          <div class="pie-title">已实现创利</div>
          <Pie  :status="1"></Pie>
          <div class="table-box">
            <div class="select-or-search">
              <div class="serach-skip">
                导出
                <div class="export-svg"></div>
                <!-- <van-icon name="down" size="8px"/> -->
                <!-- <object data="@/assets/bonus/add.svg" type="image/svg+xml"></object> -->
                <!-- <embed src="@/assets/bonus/export.svg" type="image/svg+xml" /> -->
              </div>
              <div class="select">
                2-3月
                <van-icon class="select-play-bottom" name="play" size="8px" />
              </div>
            </div>
            <div class="pie-table">
              <table border="1" cellspacing="0" cellpadding="0" style="">
                <tr>
                  <td>排行</td>
                  <td>客户</td>
                  <td>是否主办</td>
                  <td>创利<span class="table-unit">(万)</span></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>客户1</td>
                  <td>是</td>
                  <td>105.10</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>客户2</td>
                  <td>否</td>
                  <td>39.50</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="pie-box">
          <div class="pie-title">年内预计创利</div>
          <Pie :status="2"></Pie>
        </div>
        <div class="pie-box">
          <div class="pie-title">年内预计奖费</div>
          <Pie :status="3"></Pie>
        </div>
      </template>
    </CardItem>
    <CardItem class="card-content" title-type="line-title" title="创利及奖费计算器">
      <template slot="body">
        <ProfitsAwards />
      </template>
    </CardItem>
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import CardBetween from '@/components/card-components/CardBetween'
import Pie from '@/components/chart-components/Pie.vue'
import ProfitsAwards from './ProfitsAwards'
import {
  Icon
} from 'vant'
export default {
  name: 'Home',
  components: {
    CardItem,
    [Icon.name]: Icon,
    CardBetween,
    ProfitsAwards,
    Pie
  },
  data () {
    return {}
  }
}

</script>
<style lang="less" scoped>
  .bonus-wrap {
    font-size: 28px;

    .pie-box {
      padding: 20px 0;

      .pie-title {
        padding: 15px 20px;
        text-align: left;
      }

      &:nth-last-child(n+2) {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          display: block;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 600px;
          height: 1px;
          background: #212228;
        }
      }

      .table-box {
        padding: 35px 23px 0;
        margin-bottom: 40px;

        .select-or-search {
          display: flex;
          flex-direction: row-reverse;
          color: #6195FF;
          padding-bottom: 16px;

          .serach-skip {
            display: flex;
            align-items: center;
            .export-svg {
              margin-left:10px;
              display: inline-block;
              width: 20px;
              height: 19px;
              text-align: right;
              background: url("~@/assets/bonus/export.svg") no-repeat 0px center;
              background-size: 20px 19px;
            }
          }

          .select {
            .select-play-bottom {
              transform: rotate(90deg);
            }

          }

          >div:nth-child(n+2) {
            margin-right: 60px;
          }
        }

        .pie-table {
          border: 1px solid #474951;
          border-radius: 15px;
          width: 100%;
          font-size: 28px;

          table {
            border-collapse: collapse;
            border-style: hidden;
            width: 100%;

            tr {
              td {
                border: 1px solid #474951;
                padding: 19px 0;
              }

              &:first-child {
                color: rgba(255, 255, 255, 0.8)
              }
            }

            .table-unit {
              font-size: 24px;
            }
          }

        }
      }

    }
  }

  .pie-box {
    margin-top: 60px;
  }

</style>
