<template>
  <div class="profit-award-wrap">
    <section class="all-count">
      <div class="all-data">
        <p class="all-data-title">产能</p>
        {{allCapacity}}<span class="all-data-unit">万</span>
      </div>
      <div class="all-data">
        <p class="all-data-title">奖费</p>
        {{allAwards}}<span class="all-data-unit">万</span>
      </div>
    </section>
    <h1 class="title">新吸收存款</h1>
    <section class="new-save">
      <div class="new-save-item">
        <p>存款总规模</p>
        {{newSaveSize}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增产能</p>
        {{newSaveCapacity}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增奖费</p>
        {{newSaveAwards}}<span>万</span>
      </div>
    </section>
    <!-- 新吸收存款下面的计算属性 -->
    <!-- 活期 -->
    <MultiCounter :multi-counter-info="currentCounterInfo" v-on:handleMultiCounter="getSize" />
    <!-- 定期 -->
    <MultiCounter :multi-counter-info="fixCounterInfo" v-on:handleMultiCounter="getSize" />
    <!-- 单位大额存单 -->
    <MultiCounter :multi-counter-info="largeCounterInfo" v-on:handleMultiCounter="getSize" />
    <!-- 结构性存款 -->
    <MultiCounter :multi-counter-info="structureCounterInfo" v-on:handleMultiCounter="getSize" />
    <h1 class="title block-line">新投放贷款</h1>
    <section class="new-save">
      <div class="new-save-item">
        <p>贷款规模</p>{{newLoansSize}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增产能</p>{{newLoansCN}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增奖费</p>{{newLoansJF}}<span>万</span>
      </div>
    </section>
    <MultiCounter :multi-counter-info="newLoansInfo"/>
    <h1 class="title block-line">新增加中收</h1>
    <section class="new-save">
      <div class="new-save-item">
        <p>中收规模</p>{{newRevenueSize}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增产能</p>{{newRevenueCN}}<span>万</span>
      </div>
      <div class="new-save-item">
        <p>新增奖费</p>{{newRevenueJF}}<span>万</span>
      </div>
    </section>
    <section class="new-addition">
      <div class="light-wrap">
        <div class="sub-title">双轻</div>
        <Counter :info="newAddRevenue.double" />
      </div>
      <div class="light-wrap">
        <div class="sub-title">非双轻</div>
        <Counter :info="newAddRevenue.noDouble" />
      </div>
    </section>
  </div>
</template>

<script>
import Counter from '@/components/card-components/Counter'
import MultiCounter from '@/components/card-components/MultiCounter'
// const noLinkage = ['活期', '定期', '单位大额存单']
// // 定期新增产能
// let fixNewCN = 19.5
// // 单位大额存单产能
// let largeCN = 25
// // 结构性存款新增产能
// let structureNewCN = 0

export default {
  name: 'ProfitsAwards',
  data () {
    return {
      currentCounterInfo: {
        title: '活期',
        size: {
          value: 5000,
          unit: '万',
          step: 2
        },
        time: {
          value: 3,
          unit: '月',
          step: 2
        },
        price: {
          value: 0.30,
          unit: '%',
          step: 2
        }
      },
      fixCounterInfo: {
        title: '定期',
        size: {
          value: 3000,
          unit: '万',
          step: 2
        },
        time: {
          value: 3,
          unit: '月',
          step: 2
        },
        price: {
          value: 1.35,
          unit: '%',
          step: 2
        }
      },
      structureCounterInfo: {
        title: '结构性<br/>存款',
        size: {
          value: 5000,
          unit: '万',
          step: 2000
        },
        time: {
          value: 6,
          unit: '月',
          step: 3
        },
        price: {
          value: 3.30,
          unit: '%',
          step: 0.1
        }
      },
      largeCounterInfo: {
        title: '单位大<br/>额存单',
        size: {
          value: 10000,
          unit: '万',
          step: 2
        },
        time: {
          value: 12,
          unit: '月',
          step: 2
        },
        price: {
          value: 3.80,
          unit: '%',
          step: 2
        }
      },
      // 新投放贷款
      newLoansInfo: {
        title: '',
        size: {
          value: 15000,
          unit: '万',
          step: 2
        },
        time: {
          value: 12,
          unit: '月',
          step: 2
        },
        price: {
          value: 5.00,
          unit: '%',
          step: 2
        }
      },
      // 新增加中收
      newAddRevenue: {
        title: '',
        double: {
          value: 50,
          unit: '万',
          step: 0
        },
        noDouble: {
          value: 30,
          unit: '万',
          step: 0
        }
      },
      currentNewCN: 36.25, //  活期新增产能
      currentNewJF: 2.175, // 活期新增奖费
      fixNewCN: 19.5, // 定期新增产能
      fixNewJF: 1.17, // 定期新增奖费
      structureNewCN: 16.25, // 结构性存款新增产能
      structureNewJF: 0.975, // 结构性存款新增奖费
      largeNewCN: 25, // 单位大额存单产能
      largeNewJF: 1.5, // 单位大额存单奖费
      newLoansSize: 15000, // 新投放贷款贷款规模
      newLoansCN: 157.5, // 新投放贷款新增产能
      newLoansJF: 9.45, // 新投放贷款新增奖费
      newRevenueSize: 80, // 新增加中收规模
      newRevenueCN: 80, // 新增加中收产能
      newRevenueJF: 4.8, // 新增加中收奖费
      // 下面还没用到
      currrentSizeInfo: {
        value: 612,
        unit: '万',
        step: 2
      },
      currrentTimeInfo: {
        value: 7,
        unit: '月',
        step: 2
      },
      currrentPriceInfo: {
        value: 3.45,
        unit: '%',
        step: 2
      }
    }
  },
  filters: {
    numFilter (value) {
      let realVal = ''
      if (!isNaN(value) && value !== '') {
      // 截取当前数据到小数点后三位
        const tempVal = parseFloat(value).toFixed(3)
        realVal = tempVal.substring(0, tempVal.length - 1)
      } else {
        realVal = '--'
      }
      return realVal
    }
  },
  methods: {
    getSize (data) {
      // console.log(data)
      let dataValue = data.value
      if (data.unit === '%') {
        dataValue = dataValue.toFixed(2)
      }
      switch (data.title) {
      case '活期':
        if (data.unit === '万') {
          this.currentCounterInfo.size.value = dataValue
        } else if (data.unit === '月') {
          this.currentCounterInfo.time.value = dataValue
        } else {
          this.currentCounterInfo.price.value = dataValue
        }
        // 活期新增产能
        this.currentNewCN = this.currentCounterInfo.size.value * (3.2 - this.currentCounterInfo.price.value) * this.currentCounterInfo.time.value / 12 / 100
        console.log(this.currentNewCN)
        // 活期新增奖费
        this.currentNewJF = this.currentNewCN * 0.06
        break
      case '定期':
        if (data.unit === '万') {
          this.fixCounterInfo.size.value = dataValue
        } else if (data.unit === '月') {
          this.fixCounterInfo.time.value = dataValue
        } else {
          this.fixCounterInfo.price.value = dataValue
        }
        // 定期新增产能
        this.fixNewCN = this.fixCounterInfo.size.value * (3.95 - this.fixCounterInfo.price.value) * this.fixCounterInfo.time.value / 12 / 100
        // 定期新增奖费
        this.fixNewCN = this.fixNewCN * 0.06
        break
      case '结构性<br/>存款':
        if (data.unit === '万') {
          this.structureCounterInfo.size.value = dataValue
        } else if (data.unit === '月') {
          this.structureCounterInfo.time.value = dataValue
        } else {
          this.structureCounterInfo.price.value = dataValue
        }
        // 结构性存款新增产能
        this.structureNewCN = this.structureCounterInfo.size.value * (3.95 - this.structureCounterInfo.price.value) * this.structureCounterInfo.time.value / 12 / 100
        // 结构性存款新增奖费
        this.fixNewCN = this.structureNewCN * 0.06
        break
      case '单位大<br/>额存单':
        // 单位大额存单
        if (data.unit === '万') {
          this.largeCounterInfo.size.value = dataValue
        } else if (data.unit === '月') {
          this.largeCounterInfo.time.value = dataValue
        } else {
          this.largeCounterInfo.price.value = dataValue
        }
        // 单位大额新增产能
        this.largeNewCN = this.largeCounterInfo.size.value * (3.95 - this.largeCounterInfo.price.value) * this.largeCounterInfo.time.value / 12 / 100
        // 单位大额新增奖费
        this.largeNewJF = this.largeNewCN * 0.06
        break
      }
    },
    getTime (data) {
      console.log(data)
    },
    getPrice (data) {
      console.log(data)
    }
  },
  computed: {
    allCapacity () {
      const currentAllCapacity = Number(this.newSaveCapacity) + Number(this.newLoansCN) + Number(this.newRevenueCN)
      return currentAllCapacity.toFixed(2)
    },
    allAwards () {
      const currentAllAwards = Number(this.newSaveAwards) + Number(this.newLoansJF) + Number(this.newRevenueJF)
      return currentAllAwards.toFixed(2)
    },
    newSaveSize () {
      return this.currentCounterInfo.size.value +
              this.fixCounterInfo.size.value +
              this.structureCounterInfo.size.value +
              this.largeCounterInfo.size.value
    },
    newSaveCapacity () {
      const currenNewSaveCapacity = this.currentNewCN +
              this.fixNewCN +
              this.structureNewCN +
              this.largeNewCN
      return currenNewSaveCapacity.toFixed(2)
    },
    newSaveAwards () {
      const currenNewSaveAwards = this.currentNewJF +
              this.fixNewJF +
              this.structureNewJF +
              this.largeNewJF
      return currenNewSaveAwards.toFixed(2)
    }
  },
  components: {
    Counter,
    MultiCounter
  }
}
</script>
<style lang="less" scoped>
.profit-award-wrap {
  text-align: left;
  font-size: 14px;

  .title {
    position: relative;
    margin: 87px 0 39px 18px;
    font-size: 32px;
    color: #ffffff;
    &:nth-of-type(1) {
      margin-top: 57px;
    }
    &.block-line{
      &::after {
        // --widthA: 100px;
        // --widthB: calc(var(--widthA) / 2);
        // --widthC: calc(var(--widthB) / 2);
        // width: var(--widthC);
        content: ' ';
        position: absolute;
        width: 86.8vw;
        height: 0;
        right: 0;
        bottom: 76px;
        left: calc(50% - 44.8vw);
        background-color: #292929;
        border: 1px solid #292929;
        transform-origin: 0 0;
        transform: scaleY(0.5);
      }
    }
  }

  .all-count {
    display: flex;

    div.all-data {
      flex: 1;
      margin: 66px 0 0 0;
      font-family: BebasNeue;
      font-size: 84px;
      line-height: 101px;
      color: #6195ff;
      letter-spacing: -0.22px;
      text-align: center;

      p.all-data-title {
        opacity: 0.8;
        font-family: PingFangSC-Regular;
        font-size: 28px;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: -0.3px;
      }

      span.all-data-unit {
        font-family: PingFangSC-Regular;
        font-size: 26px;
        color: #6195ff;
        letter-spacing: -0.3px;
      }
    }
  }

  .new-save {
    display: flex;
    margin-top: 36px;
    text-align: center;

    div.new-save-item {
      flex: 1;
      font-family: PingFangSC-Semibold;
      font-size: 40px;
      line-height: 56px;
      color: #6195ff;

      p {
        opacity: 0.8;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        line-height: 33px;
        color: #ffffff;
      }

      span {
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: #6195ff;
      }
    }
  }

  .new-addition {
    display: flex;
    margin-top: 46px;
    .light-wrap {
      flex: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 106px;

      .sub-title {
        align-self: flex-end;
        margin-right: 24px;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: #ffffff;
      }
    }
  }

  .tip {
    margin: 20px 0 87px 43px;
    opacity: 0.4;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }

  .card-content {
    .select {
      color: #6195ff;

      .select-play-bottom {
        transform: rotate(90deg);
      }
    }
  }
}
</style>
