<template>
  <div class="app">
    <div class="fixed-box">
      <div class="scroll-box">
        <Title :map="titleMap"></Title>
        <div class="nav">
          <a
            @click="pushLink(item)"
            v-for="(item, index) in titleMap"
            :key="index"
            :class="{active: titleActive === item.link}"
          >{{item.name}}

          </a>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import Title from '@/components/Title'
export default {
  components: {
    Title
  },
  data () {
    return {
      titleActive: '/analysis/overview',
      date: '',
      titleMap: [{
        link: '/analysis/overview',
        name: '价值总览'
      }, {
        link: '/analysis/risk',
        name: '风险'
      }, {
        link: '/analysis/loan',
        name: '贷款'
      }, {
        link: '/analysis/IntermediateIncome',
        name: '存款'
      }, {
        link: '/analysis/intermediateIncome',
        name: '中收'
      }, {
        link: '/analysis/complexity',
        name: '复杂投融'
      }]
    }
  },
  mounted () {
    // 获取scrollbox高度 保证在多分辨率下高度一致
    const height = document.querySelector('.scroll-box').offsetHeight
    document.querySelector('.fixed-box').style.height = height + 'px'
  },
  methods: {
    // 路由跳转
    pushLink (item) {
      if (item.name === '存款' || item.link === this.titleActive) {
        return
      }

      this.titleActive = item.link
      // 返回顶部
      window.scrollTo(0, 0)
      this.$router.push({
        path: item.link
      })
    }
  },
  watch: {
    $route: function (val) {
      this.titleActive = val.path
    }
  }
}
</script>

<style lang="less" scoped>
.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #212228;
  height: 100%;
  min-height: 100vh;
  color: #fff;
}

.nav {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  a {
    position: relative;
    font-size: 30px;
    letter-spacing: 0;
    color: #ffffff;
    flex: 1;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  a.active {
    color: #6195ff;
    text-decoration: none;
    position: relative;
  }

  .active::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -16px;
    width: 32px;
    height: 6px;
    background-color: #6195ff;
  }

  a.router-link-exact-active {
    color: #6195ff;
  }
}

.scroll-box {
  position: fixed;
  top: 0;
  background-color: #212228;
  z-index: 999;
  width: 100%;
  padding-bottom: 10px;
}
</style>
