<template>
  <div class="hello">
    <CardItem title-type="line-title" title="测试CardItem">
      <template slot="body">
        <div style="color:#fff;padding:20px 0">标本内容</div>
      </template>
    </CardItem>
    <!-- <component
      v-for="(item,index) in itemData"
      :key="index"
      :is="item.cardTab"
      :cardData="item"
    ></component> -->
  </div>
</template>

<script>
import CardItem from './common/CardItem'
export default {
  name: 'HelloWorld',
  components: {
    CardItem
  },
  props: {
    msg: String
  },
  data () {
    return {
      itemData: [{
        cardTab: 'CardItem',
        cardTitle: true,
        id: 1,
        cardInfo: [{ genre: '财务', sold: 275 },
          { genre: '业务', sold: 115 },
          { genre: '双轻客户', sold: 120 },
          { genre: '非双轻客户', sold: 350 },
          { genre: '额度', sold: 150 }]
      },
      {
        cardTab: 'CardItem',
        cardTitle: false,
        id: 2,
        cardInfo: [{ genre: '财务', sold: 1 },
          { genre: '业务', sold: 2 },
          { genre: '双轻客户', sold: 3 },
          { genre: '非双轻客户', sold: 4 },
          { genre: '额度', sold: 5 }]
      }]
    }
  },
  mounted () {
    console.log(this.itemData)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
