<template>
  <div class="content">
    <div
      class="datepicker"
    >
      <span class="datepicker-name">日期</span>
      <span class="datepicker-name">
        {{today}}
        <van-icon name="notes-o" />
      </span>
    </div>
    <van-calendar
      v-model="showDatePicker"
      color="#6195ff"
      :show-confirm="false"
      @confirm="onConfirm"
    />
  </div>
</template>

<script>
import { Calendar, Icon } from 'vant'
export default {
  name: 'cardTitle',
  components: {
    [Calendar.name]: Calendar,
    [Icon.name]: Icon
  },
  data () {
    return {
      today: '',
      showDatePicker: false
    }
  },
  mounted () {
    this.today = this.formatDate(new Date())
  },
  methods: {
    // 时间格式转换方法
    formatDate (date) {
      // 补位0
      const month = (date.getMonth() + 1 + '').padStart(2, '0')
      const day = (date.getDate() + '').padStart(2, '0')
      return `${date.getFullYear()}-${month}-${day}`
    },
    // 日期选择器选中后
    onConfirm (date) {
      // const [start, end] = date
      // console.log(start, end)
      console.log(this.formatDate(date))
      this.today = this.formatDate(date)
      this.showDatePicker = false
    }
  }
}
</script>

<style scoped lang="less">
.datepicker {
  width: 710px;
  height: 72px;
  background: #383b43;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  font-size: 28px;
  opacity: 0.8;
  .datepicker-name {
    display: flex;
    align-items: center;
    .van-icon {
      margin-left: 5px;
    }
  }
}

/deep/ .van-calendar {
  background-color: #212228;
}

/deep/ .van-calendar__day--disabled {
  color: #616161;
}
</style>
