<template>
  <div class="content">
    <div class="header-title">
      <van-icon name="arrow-left" class="icon-back" @click="gohistory"
        v-if="$route.meta.title === '招商局集团有限公司' || $route.meta.title === '客户综合价值分析' || $route.meta.title === '客户经理看板'" />
      <p class="title-txt">{{title}}</p>
    </div>
  </div>
</template>

<script>
import {
  Icon
} from 'vant'
export default {
  name: 'cardTitle',
  props: ['map'],
  components: {
    [Icon.name]: Icon
  },
  data () {
    return {
      title: ''
    }
  },
  watch: {
    '$route' (val) {
      this.$nextTick(() => {
        this.title = val.meta.title
      })
    }
  },
  mounted () {
    this.title = this.$route.meta.title
  },

  methods: {
    // 返回首页
    gohistory () {
      if (this.map && this.map.length) {
        if (this.$route.query.back) {
          this.$router.go(-1)
        } else {
          this.$router.push({
            path: '/'
          })
        }
      } else {
        this.$router.go(-1)
      }
    }
  }
}

</script>

<style scoped lang="less">
  .header-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #212228;

    .icon-back {
      position: absolute;
      left: 20px;
      cursor: pointer;
      font-size: 40px;
      color: #fff;
    }

    .title-txt {
      font-size: 36px;
      color: #ffffff;
    }
  }

</style>
