<template>
  <div class="content interval">
    <!-- 导航栏 -->
    <div class="tabs-box">
      <p
        class="tabs-item"
        @click="tabsActive(1)"
        :class="{active:activeFlag === 1 }"
      >当前申报</p>
      <p
        class="tabs-item"
        @click="tabsActive(2)"
        :class="{active:activeFlag === 2 }"
      >贷款总量</p>
      <p
        class="tabs-item"
        @click="tabsActive(3)"
        :class="{active:activeFlag === 3 }"
      >资产质量</p>
    </div>
    <!-- end of 导航栏 -->
    <!-- 当前申报 -->
    <div
      class="card-type"
      v-if="activeFlag === 1"
    >
      <CardItem
        class="card-content"
        title-type="line-title"
        title="概况"
      >
        <template slot="body">
          <CardBetweenFunnel :type="'nowApply'" />
        </template>
      </CardItem>
      <div class="tabs-title">
        <p class="tabs-title-name">申报情况</p>
        <div class="tabs-box">
          <p
            class="tabs-item"
            @click="tabsApplyActive(1)"
            :class="{active:activeApplyFlag === 1 }"
          >申报</p>
          <p
            class="tabs-item"
            @click="tabsApplyActive(2)"
            :class="{active:activeApplyFlag === 2 }"
          >报审</p>
          <p
            class="tabs-item"
            @click="tabsApplyActive(3)"
            :class="{active:activeApplyFlag === 3 }"
          >批复</p>
          <p
            class="tabs-item"
            @click="tabsApplyActive(4)"
            :class="{active:activeApplyFlag === 4 }"
          >出账</p>
        </div>
      </div>
      <CardItem
        class="card-content"
        title-type="line-title"
        :title="changeTitle"
        v-if="activeApplyFlag !== 2"
      >
        <template slot="body">
          <CardCenterInterval :customerLoan="activeApplyFlag" />
        </template>
      </CardItem>
      <CardItem
        class="card-content"
        title-type="line-title"
        title="审批"
        v-if="activeApplyFlag === 2"
      >
        <template slot="body">
          <CardBetweenRow />
        </template>
      </CardItem>
    </div>
    <!-- end of 当前申报 -->
    <!-- 贷款总量 -->
    <div
      class="card-type"
      v-if="activeFlag === 2"
    >
      <CardItem
        class="card-content"
        title-type="line-title"
        title="存量"
      >
        <template slot="body">
          <CardCenterLineArea :titleType="'贷款余额'" />
        </template>
      </CardItem>
    </div>
    <!-- end of 贷款总量 -->
    <!-- 资产质量 -->
    <div class="card-type">
      <div v-if="activeFlag === 1 ">
        <div v-if="activeApplyFlag===1">
          <CardTableKhqdsb></CardTableKhqdsb>
        </div>
        <div v-if="activeApplyFlag===2">
          <CardTableJjmxspz></CardTableJjmxspz>
        </div>
        <div v-if="activeApplyFlag===3">
          <CardTableKhqdysp></CardTableKhqdysp>
        </div>
        <div v-if="activeApplyFlag===4">
          <CardTableCzqdcz></CardTableCzqdcz>
        </div>
      </div>
      <div v-if="activeFlag === 2 ">
        <CardTableSX></CardTableSX>
        <CardTableDK></CardTableDK>
      </div>
      <div v-if="activeFlag === 3 ">
        <CardTableFX></CardTableFX>
      </div>
    </div>

    <!-- end of 资产质量 -->
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import CardBetweenFunnel from '@/components/card-components/CardBetweenFunnel'
import CardCenterInterval from '@/components/card-components/CardCenterInterval'
import CardCenterLineArea from '@/components/card-components/CardCenterLineArea'
import CardBetweenRow from '@/components/card-components/CardBetweenRow'
import CardTableKhqdsb from '@/components/card-components/CardTableKhqdsb'
import CardTableJjmxspz from '@/components/card-components/CardTableJjmxspz'
import CardTableKhqdysp from '@/components/card-components/CardTableKhqdysp'
import CardTableCzqdcz from '@/components/card-components/CardTableCzqdcz'
import CardTableSX from '@/components/card-components/CardTableSX'
import CardTableDK from '@/components/card-components/CardTableDK'
import CardTableFX from '@/components/card-components/CardTableFX'
export default {
  name: 'Loan',
  components: {
    CardItem,
    CardBetweenFunnel,
    CardCenterInterval,
    CardCenterLineArea,
    CardBetweenRow,
    CardTableKhqdsb,
    CardTableJjmxspz,
    CardTableKhqdysp,
    CardTableCzqdcz,
    CardTableSX,
    CardTableDK,
    CardTableFX
  },
  data () {
    return {
      activeFlag: 1,
      activeApplyFlag: 1,
      changeTitle: '申报'
    }
  },
  methods: {
    // tabs切换 1当前申报 2 贷款总量 3 资产质量
    tabsActive (val) {
      this.activeFlag = val
    },
    // 申报 tabs切换 1当前申报 2 贷款总量 3 资产质量
    tabsApplyActive (val) {
      if (val === 1) {
        this.changeTitle = '申报'
      } else if (val === 3) {
        this.changeTitle = '审批'
      } else if (val === 4) {
        this.changeTitle = '出账金额'
      }
      this.activeApplyFlag = val
    }
  }
}

</script>
<style lang="less" scoped>
.tabs-box {
  display: flex;
  border: 2px solid #6195ff;
  border-radius: 36px;
  border-radius: 36px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;

  .tabs-item {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #6195ff;
  }

  .active {
    background-color: #6195ff;
    font-weight: bold;
    color: #fff;
    border-radius: 38px;
    border-radius: 38px;
  }
}

.tabs-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .tabs-title-name {
    color: #fff;
    font-size: 36px;
    margin-left: 5px;
  }

  .tabs-box {
    display: flex;
    border: 2px solid #bcbdbe;
    border-radius: 36px;
    border-radius: 36px;
    width: 440px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;

    .tabs-item {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #fff;
    }

    .active {
      background-color: #cbcbcb;
      font-weight: bold;
      color: #212228;
      border-radius: 38px;
      border-radius: 38px;
    }
  }
}
</style>
