<template>
  <div class="card-out-content">
    <div class="card-out-title" :class="titleType">
      <div v-if="titleType=='default-title'" class="title">
        {{title}}
      </div>
      <div v-if="titleType=='dot-title'" class="title">
        <van-icon name="stop" size="8px" /> {{title}}
      </div>
      <div v-if="titleType=='line-title'" class="title">
        {{title}}
      </div>
      <div class="select">
        <slot name="titleSelect"></slot>
      </div>
    </div>
    <div class="card-out-interlayer">
      <slot name="interlayer"></slot>
    </div>
    <div class="card-out-body">
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
import {
  Icon
} from 'vant'
export default {
  name: 'CardItem',
  props: {
    titleType: String,
    title: String
  },
  components: {
    [Icon.name]: Icon
  },
  data () {
    return {}
  },
  mounted () {
  }
}

</script>

<style lang="less" scoped>
  .card-out-content {
    background: #2E3036;
    border-radius: 20px;
    margin-bottom: 20px;

    .card-out-title {
      font-family: PingFangSC-Regular;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      border-radius: 20px 20px 0 0;
    }

    .default-title {
      color: #fff;
      padding: 22px 23px;
      background-color: #383B43;

      .title {
        padding-left: 21px;
        position: relative;
        font-size: 32px;
      }
    }

    .line-title {
      color: #fff;
      padding: 22px 23px;
      background-color: #383B43;
      height: 45px;

      .title {
        padding-left: 21px;
        position: relative;
        font-size: 32px;

        &:after {
          content: "";
          display: inline-block;
          width: 6px;
          height: 32px;
          background: #6195FF;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .dot-title {
      padding: 50px 24px 23px;
    }

    .dot-title {
      color: rgba(255, 255, 255, 0.8);
      font-size: 28px;

      .title {
        opacity: 0.8;
        color: #FFFFFF;
        transform: translateX(-4px);
      }
    }

  }

</style>
