<template>
  <div>
    <div class="table-box">
      <div class="table-content" ref="tableContent">
        <div class="table-div" v-show="columns1.length">
          <table class="table" ref="table1"  border="0" cellpadding="0" cellspacing="0">
            <thead class="thead">
              <tr>
                <th v-for="(item,index) in columns1"
                  :style="{width:widths[item.key],minWidth:widths[item.key],maxWidth:widths[item.key]}" :key="index"
                  @click="sortBy(item)" :class="{active: item.isSort == sortKey}">
                  <div v-show="item.fixed">
                    <div class="content">
                      <div class="care-icon-box">
                        {{ item.name}}
                        <div class="sort-div" v-show="item.isSort">
                          <div class="sort-icon sort-top" :class="sortOrders[item.key] === 1?'active':''">
                          </div>
                          <div class="sort-icon sort-bottom" :class="sortOrders[item.key] === -1?'active':''">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="unit">
                      <div style="color:rgba(0,0,0,0)" v-show="hashUnit && !item.unit">
                        透明
                      </div>
                      <div v-show="item.unit">（{{item.unit}}）</div>
                    </div>
                  </div>

                </th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr ref="fixedTr" v-for="(item,index) in filterData1" v-show="!(index>4 && hashMore)" :key="index">
                <td v-for="(item2,index2) in columns1" :key="index2"
                  :style="{width:widths[item2.key],minWidth:widths[item2.key],maxWidth:widths[item2.key]}" @click="clicktd(item2)">
                  <div v-show="item2.fixed" :style="[item2.style]"  >
                    {{ item[item2.key] }}{{item.showItem}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-div scroll-div" ref="scrollDiv" :class="!isScroll?'disabled-scroll':''">
          <table class="table" ref="table2"  border="0" cellpadding="0" cellspacing="0">
            <thead class="thead">
              <tr>
                <th v-for="(item,index) in columns2"
                  :style="{width:widths[item.key],minWidth:widths[item.key],maxWidth:widths[item.key]}"
                  :key="'item'+index" @click="sortBy(item)" :class="{active: item.isSort == sortKey}">
                  <div v-show="!item.fixed">
                    <div class="content">
                      <div class="care-icon-box" >
                        {{ item.name}}
                        <div class="sort-div" v-show="item.isSort">
                          <div class="sort-icon sort-top" :class="sortOrders[item.key] === 1?'active':''">
                          </div>
                          <div class="sort-icon sort-bottom" :class="sortOrders[item.key] === -1?'active':''">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="unit">
                      <div style="color:rgba(0,0,0,0)" v-show="hashUnit && !item.unit">
                        透明
                      </div>
                      <div v-show="item.unit">（{{item.unit}}）</div>
                    </div>
                  </div>

                </th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr ref="scroolTr" v-for="(item,index) in filterData2" v-show="!(index>4 && hashMore)" :key="index">
                <td v-for="(item2,index2) in columns2" :key="index2"
                  :style="{width:widths[item2.key],minWidth:widths[item2.key],maxWidth:widths[item2.key]}" @click="clicktd(item2)">
                  <div v-show="!item2.fixed" :style="[item2.style]">
                    {{ item[item2.key] }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="scroll-icon right" v-show="isScroll && scrollIcon"><img class="icon-png"
            src="@/assets/analysis/箭头icon@2x.png" alt=""></div>
      </div>

    </div>

    <div class="more-box" v-show="filterData2.length >5">
      <div v-show="hashMore" @click="hashMore=false">
        查看更多
        <van-icon name="arrow-down" />
      </div>
      <div v-show="!hashMore" @click="hashMore=true">
        收起
        <van-icon name="arrow-up" />
      </div>
    </div>
  </div>
</template>

<script>
import {
  Icon
} from 'vant'
export default {
  props: ['data', 'columns', 'filterKey'],
  data () {
    const sortOrders = {}
    const fxieds = {}
    const columns1 = []
    const columns2 = []
    this.columns.slice(0).filter((item) => {
      sortOrders[item.key] = 0
      fxieds[item.key] = item.fixed
      if (item.fixed) {
        columns1.push(item)
      } else {
        columns2.push(item)
      }
    })
    return {
      sortKey: '', // 值为name 或 power
      sortOrders: sortOrders, // 值为{name: 1/-1，power: 1/-1} ,控制正反排序
      fxieds: fxieds,
      widths: {},
      clientWidth: null,
      scrollIcon: true,
      currentImte: {},
      hashMore: true,
      columns1: columns1,
      columns2: columns2
    }
  },
  components: {
    [Icon.name]: Icon
  },
  computed: {
    hashUnit: function () {
      return this.columns.some((item) => {
        return item.unit
      })
    },
    filteredData: function () {
      let data = this.data
      const sortKey = this.sortKey
      const order = this.sortOrders[sortKey]
      const filterKey = this.filterKey
      if (filterKey) {
        data = data.filter((item) => {
          return Object.keys(item.key).some(key => {
            return String(item[key]).indexOf(filterKey) > -1
          })
        })
      }

      data = this.data.slice(0)
      if (sortKey && sortKey !== -1) {
        data.sort((a, b) => {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? -1 : 1) * order
        })
      }
      data.map((item, index) => {
        item.showItem = !!(index > 4 && this.hashMore)
      })
      return data
    },
    filterData1: function () {
      var data = []
      this.filteredData.slice(0).map((item) => {
        var item1 = {}
        for (var key in this.fxieds) {
          if (this.fxieds[key]) {
            item1[key] = item[key]
          }
        }
        data.push(item1)
      })
      return data
    },
    filterData2: function () {
      var data = []
      this.filteredData.slice(0).map((item) => {
        var item1 = {}
        for (var key in this.fxieds) {
          if (!this.fxieds[key]) {
            item1[key] = item[key]
          }
        }
        data.push(item1)
      })
      return data
    },
    isScroll: function () {
      var cont = 0
      this.columns.map((item) => {
        cont += parseInt(item.width)
      })
      return cont > 100
    }
  },
  filters: {},
  mounted () {
    this.$nextTick(function () {
      this.clientWidth = Number(this.$refs.tableContent.clientWidth) - this.columns.length
      this.$refs.scrollDiv.addEventListener('scroll', (e) => {
        if (e.target.scrollLeft === 0 && this.isScroll) {
          this.scrollIcon = true
        } else {
          this.scrollIcon = false
        }
      })
    })
  },
  methods: {
    sortBy (item) {
      if (!item.isSort) {
        return
      }
      this.currentImte = item
      this.sortKey = item.key
      var status = this.sortOrders[item.key]
      this.columns.filter((item) => {
        this.sortOrders[item.key] = 0
      })
      this.sortOrders[item.key] = status === 0 ? 1 : status === 1 ? -1 : 0
    },
    clicktd (item) {
      if (item.path) {
        this.$router.push({
          name: item.path,
          query: {
            back: 1
          }
        })
      }
    }
  },
  watch: {
    hashMore: function (val) {
      this.filteredData.map((item, index) => {
        item.showItem = !!(index > 4 && this.hashMore)
      })
    },
    filterData2: {
      handler: function (val) {
        this.$nextTick(function () {
          var fixedTrList = this.$refs.fixedTr
          var scroolTrList = this.$refs.scroolTr
          scroolTrList.map(function (item, index) {
            fixedTrList[index].style.height = item.height = 'inherit'
          })
          setTimeout(function () {
            scroolTrList.map(function (item, index) {
              var scroolItemHeight = scroolTrList[index].clientHeight
              var fixedItemHeight = fixedTrList[index].clientHeight
              if (scroolItemHeight > fixedItemHeight) {
                fixedTrList[index].style.height = item.clientHeight + 'px'
              } else {
                item.style.height = fixedTrList[index].clientHeight + 'px'
              }
              // console.log(item)
            })
          })

          // var paading = this.$refs.tableContent.offsetLeft * 2
          var tableContent = this.$refs.tableContent
          // console.dir(tableContent.offsetWidth)
          var screenWidth = document.body.clientWidth

          const width = {}
          this.columns.map((item) => {
            width[item.key] = tableContent.offsetWidth * parseInt(item.width) / screenWidth + 'vw'
            // width[item.key] = 'calc((100vw - 60px)*' + parseInt(item.width) + '/100)'
          })
          this.widths = width
        })
      },
      immediate: true
    }
  }
}

</script>
<style lang="less" scoped>
  .more-box {
    padding: 40px 0 28px 0;
    color: #6195FF;
    margin-top: 38px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    font-size: 28px;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .table-box {
    color: #fff;
    font-size: 28px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;

    .table-content {
      display: flex;

      .table {
        border-collapse: initial;
      }

      .scroll-div {
        overflow-x: scroll;
      }

      .scroll-div::-webkit-scrollbar {
        display: none;
      }

    }

    .disabled-scroll {
      overflow: hidden !important;
    }

    table {
      border-collapse: collapse;

      .thead {
        color: #8799BE;
        font-family: PingFangSC-Semibold;

        tr {
          th {
            min-height: 40px;
            padding: 0 0px 21px;
          }
        }

        .content {
          position: relative;
          display: flex;
          justify-content: center;

          .care-icon-box {
            .sort-div {
              position: relative;

              .sort-top {
                position: absolute;
                left: calc(100% + 4px);
                bottom: 18px;
                width: 0px;
                height: 0px;
                border: 8px solid #8799BE;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
              }

              .sort-bottom {
                position: absolute;
                left: calc(100% + 4px);
                bottom: -2px;
                width: 0px;
                height: 0px;
                border: 8px solid #8799BE;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
              }

              .sort-top.active {
                border-bottom-color: #6195FF;
              }

              .sort-bottom.active {
                border-top-color: #6195FF;
              }

            }
          }

        }

        .unit {
          font-size: 18px;
        }

      }

      .tbody {
        font-family: PingFangSC-Regular;

        tr {
          td {
            min-height: 40px;
            padding: 0 0 26px;
            word-break: break-all;
          }
        }
      }
    }

    .scroll-icon {
      position: absolute;
      top: 6px;
      display: flex;
      .icon-png {
        width: 16px;
        height: 18px;
      }
    }

    .left {
      left: 0;
    }

    .right {
      right: 5px;
    }
  }

</style>
