<template>
  <div class="area_container">
    <div
      class="totip-box"
      ref="tooltip"
    >
      <div class="totip1"></div>
      <div class="totip2"><span class="tipCircle"></span><span class="tipSpan"></span></div>
    </div>
    <canvas :id="'area1' + Uid"></canvas>
    <div class="tipTitle"><span></span><span>{{this.areaArr[this.index][0].name}}</span></div>
  </div>

</template>
<script>
// 面积图
export default {
  name: 'Area',
  props: {
    index: {
      type: Number,
      required: false,
      default: () => {
        return 0
      }
    }
  },
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10),
      areaArr: [
        [{
          time: '2019-12',
          num: 1.5,
          name: '余额',
          unit: '亿'
        }, {
          time: '2020-01-31',
          num: 1.6,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 1.7,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 1.8,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 2,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }],
        [{
          time: '2019-12',
          num: 1.13,
          name: '余额',
          unit: '亿'
        }, {
          time: '2020-01-31',
          num: 1.2,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 1.28,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 1.35,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 1.5,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }],
        [{
          time: '2019-12',
          num: 0.9,
          name: '余额',
          unit: '亿'
        }, {
          time: '2020-01-31',
          num: 0.96,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 1.02,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 1.08,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 1.2,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }],
        [{
          time: '2019-12',
          num: 25,
          name: '余额',
          unit: '万'

        }, {
          time: '2020-01-31',
          num: 35,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 45,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 55,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 65,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }],
        [{
          time: '2019-12',
          num: 21.15,
          name: '余额',
          unit: '万'
        }, {
          time: '2020-01-31',
          num: 29.61,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 38.07,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 46.53,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 54.99,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }],
        [{
          time: '2019-12',
          num: 4.915,
          name: '余额',
          unit: '万'
        }, {
          time: '2020-01-31',
          num: 6.881,
          name: '余额'
        }, {
          time: '2020-02-29',
          num: 8.847,
          name: '余额'
        }, {
          time: '2020-03-31',
          num: 10.813,
          name: '余额'
        }, {
          time: '2020-04-25',
          num: 12.779,
          name: '余额'
        }, {
          time: '2020-05-09',
          name: '余额'
        }, {
          time: '2020-06-10',
          name: '余额'
        }]
      ],
      chart: {}
    }
  },
  mounted () {
    this.intervalChart(this.areaArr[this.index])
  },
  methods: {
    intervalChart (data) {
      this.chart = new this.$F2.Chart({
        id: 'area1' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: [42, 20, 70, 32],
        width: window.innerWidth - 20,
        height: 213
      })
      this.chart.source(data, {
        num: {
          tickCount: 3,
          min: 0,
          range: [0, 1]
        },
        time: {
          // type: 'timeCat',
          tickCount: 7,
          // mask: 'MM',
          range: [0, 1],
          sortable: false
        }
      })
      // 单位（亿）
      this.chart.guide().text({
        position: ['min', 'max'],
        content: data[0].unit,
        style: {
          textBaseline: 'bottom',
          textAlign: 'center',
          fill: 'rgba(255,255,255,0.6)'
        },
        offsetY: -10,
        offsetX: -12
      })
      this.chart.axis('time', {
        label: function label (text, index, total) {
          const textCfg = {}
          if (index === 0) {
            textCfg.textAlign = 'left'
          } else if (index === total - 1) {
            textCfg.textAlign = 'right'
          }
          textCfg.fill = 'rgba(255,255,255,0.7)'
          // textCfg.text = text + '月'
          textCfg.text = parseInt(text.split('-')[1]) + '月'
          return textCfg
        }

      })
      this.chart.axis('num', {
        grid: {
          lineDash: null,
          lineWidth: 1,
          stroke: '#4C4D50'
        },
        label: {
          fill: 'rgba(255,255,255,0.6)'
        }
      })
      // tooltip的标签及位置
      const unit = data[0].unit
      const tip = this.$refs.tooltip
      const Ltop = tip.offsetTop
      const Lleft = tip.offsetLeft
      var toolpit = this.chart.tooltip({
        custom: true,
        tooltipMarkerStyle: {
          fill: '#fff' // 设置 tooltipMarker 的样式
        },
        onChange: function onChange (ev) {
          const currentData = ev.items[0]
          tip.innerHTML = '<div class="totip1">' + currentData.origin.time + '</div><div class="totip2"><span><span class="tipCircle"></span>' + currentData
            .origin.name + ':</span>  <span class="tipSpan">' + currentData.origin.num + unit + '</span></div>'
          let left = Ltop + currentData.x - tip.clientWidth / 2
          let top = Lleft + currentData.y - tip.clientHeight
          if (top < 0) { top = 10 }
          if (left < 0) { left = 10 }
          tip.style.left = left + 'px'
          tip.style.top = top + 'px'
          tip.style.opacity = 1
        },
        onHide: function onHide () {
          tip.style.opacity = 0
        },
        triggerOn: ['click'],
        triggerOff: ['touchend']
      })

      const that = this
      var options = this.$F2.Util.createEvent(function (a) {}, this.chart)
      that.$(document).ready(function () {
        that.$(document).on('touchstart', function (e) {
          that.pointsss = that.$(e.target).closest('#' + 'area1' + that.Uid).length
          if (that.$(e.target).closest('#' + 'container' + that.Uid).length < 1) {
            // 点击id为menu之外且id，则触发
            toolpit.hideTooltip(options)
          } else {}
        })
      })

      this.chart.area()
        .position('time*num')
        .color('l(180) 0:#212228 1:#6195FF')
        .shape('smooth')
      this.chart.line()
        .position('time*num')
        .color('#6195FF')
        .shape('smooth')
      this.chart.render()
    }
  },
  watch: {
    index () {
      this.chart.changeData(this.areaArr[this.index])
      this.chart.repaint()
    }
  }
}

</script>
<style lang="less" scoped>
.area_container {
  background-color: #2e3036;
  position: relative;
}
.totip-box {
  width: 200px;
  background-color: rgba(65,69,79,0.8);
  position: absolute;
  text-align: left;
  z-index: 99;
  padding: 20px;
  opacity: 0;
  border-radius: 6px;
  /deep/ .totip1 {
    padding-bottom: 14px;
    font-size: 14px !important;
    color: rgba(255, 251, 248, 0.7);
  }
  /deep/ .totip2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px !important;
    padding-right: 20px;
    color: rgba(255, 251, 255, 0.7);
    span:nth-child(1) {
      display: flex;
      align-items: center;
      .tipCircle {
        display: inline-block;
        width: 6px;
        height: 6px;
        border: 2px solid #6195ff;
        border-radius: 50%;
        background-color: #6195ff;
        margin-right: 10px;
      }
    }
    .tipSpan {
      font-size: 16px;
      color: #fff;
    }
  }
}
.tipTitle {
  position: absolute;
  bottom: 35px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  span:nth-child(1) {
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #6195ff;
  }
  span:nth-child(2) {
    color: #fff;
    opacity: 0.8;
  }
}
</style>
