<template>
  <div class="content">
    <!-- <div
      class="totip-box"
      ref="tooltip"
    >
      <div class="totip1"></div>
      <div class="totip2"><span class="tipCircle"></span><span class="tipSpan"></span></div>
    </div> -->
    <canvas
      :id="'container' + Uid"
      width="360px"
      height="250px"
      class="canvas-box"
    ></canvas>
    <div class="legend-container">
      <div><span class="legendCircle colorb"></span>{{legendArr[0]}}</div>
      <div v-if="legendArr[1]"><span class="legendCircle colory"></span>{{legendArr[1]}}</div>
      <div v-if="legendArr[2]"><span class="legendCircle colorp"></span>{{legendArr[2]}}</div>
    </div>
  </div>
</template>

<script>
import cData from '../chartData'

export default {
  props: {
    chartData: {
      type: Array,
      required: false,
      default: () => {
        return []
      }
    }
  },
  data () {
    return {
      pointsss: '',
      Uid: parseInt(Math.random() * 10000, 10),
      data: [],
      legendArr: {}
    }
  },
  mounted () {
    this.$nextTick(() => {
      const data1 = cData.data1
      const data2 = cData.data2
      var data3 = cData.data3
      var data4 = cData.data4
      var data6 = cData.data6

      var data5 = JSON.parse(JSON.stringify(data4.slice(0, 12)))
      data5.map((item, index) => {
        item.type = index < 6 ? 'LPR' : '贷款收益率'
      })
      // var data6 = data6.slice(0)
      data6.map((item, index) => {
        item.type = index < 6 ? '中债国开-AAA' : index < 12 ? '中债国开-AA+' : '中债国开-AA'
      })
      var data7 = cData.data7
      var data8 = cData.data8
      // var data = []
      var unit = ''
      if (this.chartData && this.chartData[0] === 1) {
        this.data = [...data1]
        unit = '百万'
        console.log(this.chartData[0])
      } else if (this.chartData && this.chartData[0] === 2) {
        this.data = [...data2]

        unit = '%'
      } else if (this.chartData && this.chartData[0] === 3) {
        this.data = [...data3]
        unit = '万'
      } else if (this.chartData && this.chartData[0] === 4) {
        this.data = [...data4]
        unit = '%'
      } else if (this.chartData && this.chartData[0] === 5) {
        this.data = [...data5]
        unit = '%'
      } else if (this.chartData && this.chartData[0] === 6) {
        this.data = [...data6]
        unit = 'BP'
      } else if (this.chartData && this.chartData[0] === 7) {
        this.data = [...data7]
        unit = '%'
      } else if (this.chartData && this.chartData[0] === 8) {
        this.data = [...data8]
        unit = '%'
      } else {
        this.data = [...data1, ...data2, ...data3]
      }
      this.legendArr = this.data.reduce((pre, cur) => {
        if (pre.indexOf(cur.type) === -1) {
          return [...pre, cur.type]
        } else {
          return pre
        }
      }, [])
      // 初始化
      const chart = new this.$F2.Chart({
        id: 'container' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        width: window.innerWidth - 20,
        padding: [30, 20, 25, 40]
      })

      // 配置数据参数
      const defs = {
        // date: {
        //   type: 'timeCat',
        //   mask: 'MM月'
        // },
        value: {
          formatter: function formatter (ivalue) {
            return ivalue
          }
        }
      }

      if (this.chartData[0] === 2) {
        defs.value.min = 0
        defs.value.max = 5
        defs.value.tickCount = 0
      }

      if (this.chartData[0] === 4 || this.chartData[0] === 5) {
        defs.value.min = 0
        defs.value.max = 7
        defs.value.tickCount = 0
      }

      // textCfg.text = parseInt(text.split('-')[1]) + '月'

      // 注入数据
      chart.source(this.data, defs)
      // X轴样式
      chart.axis('date', {
        label: function label (text, index, total) {
          // 只显示每一年的第一天
          const textCfg = {}
          if (index === 0) {
            textCfg.textAlign = 'left'
          } else if (index === total - 1) {
            textCfg.textAlign = 'right'
          }
          textCfg.text = parseInt(text.split('-')[1]) + '月'
          return textCfg
        },
        // 下方线
        line: {
          lineWidth: 1,
          stroke: '#47484C',
          top: true // 展示在最上层
        }
      })
      // Y轴样式
      chart.axis('value', {
        grid: {
          lineDash: null, // 实线
          stroke: '#47484C'
        }
      })
      var toolpit = chart.tooltip({
        showTitle: true, // 展示  tooltip 的标题
        layout: 'vertical',
        offsetY: 80,
        onShow (obj) {
          obj.items.forEach(item => {
            item.value = item.value + unit
          })
        },
        itemMarkerStyle: {
          symbol: 'circle',
          lineWidth: 0
        },
        background: {
          radius: 2,
          fill: '#464A56',
          padding: [6, 10]
        },
        triggerOn: ['click'],
        triggerOff: ['touchend']
      })

      const that = this
      var options = this.$F2.Util.createEvent(function (a) { }, chart)
      that.$(document).ready(function () {
        that.$(document).on('touchstart', function (e) {
          that.pointsss = that.$(e.target).closest('#' + 'container' + that.Uid).length
          if (that.$(e.target).closest('#' + 'container' + that.Uid).length < 1) {
            // 点击id为menu之外且id，则触发
            toolpit.hideTooltip(options)
          } else { }
        })
      })
      // 左上角提示单位"亿"
      chart.guide().text({
        position: ['min', 'max'],
        content: unit,
        offsetY: -23,
        offsetX: -12
      })

      // 设置图例位置
      chart.legend(false)
      // chart.legend({
      //   position: 'bottom',
      //   align: 'center',
      //   marker: 'square',
      //   offsetY: -8,
      //   itemMarginBottom: 5, // 调整图例项之间的间距
      //   clickable: false // 关闭点击操作
      // })

      // 绘制折线图类型 shape 设置线的平滑
      // chart.line().position('date*value').color('type', ['#6195FF', '#F9BB4C', '#8759E5']).shape('smooth')
      chart.line().position('date*value').color('type', ['#6195FF', '#F9BB4C', '#8759E5']).shape('smooth')

      chart.render()
    })
  }
}

</script>
<style lang="less" scoped>
@color1: #6195ff;
@color2: #f9bb4c;
@color3: #8759e5;
.canvas-box {
  margin-top: 20px;
}

.content {
  position: relative;
}

.legend-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-around;
  div {
    color: rgba(255, 255, 255, 0.8);
    .legendCircle {
      display: inline-block;
      width: 20px;
      height: 14px;
      margin-right: 10px;
    }
    .colorb {
      background-color: @color1;
    }
    .colory {
      background-color: @color2;
    }
    .colorp {
      background-color: @color3;
    }
  }
}
</style>
