<template>
  <div class="content">
    <p
      class="title"
      v-if="cardData.cardTitle"
    >标题</p>
    <canvas
      :id='"myChart" + cardData.id'
     class="canvas-box"
     width="360"
     height="400"
    ></canvas>
  </div>
</template>

<script>
export default {
  props: {
    // 基本卡片属性
    /**
     * @constructor
     * @param {Boolen} cardTitle - 卡片标题是否显示
     * @param {Number | String} id - 卡片id
     * @param {String} cardTab - 卡片标签(暂时没用)
     * @param {Array} cardInfo - 卡片数据
     * @param {String} cardF2Type - 卡片F2可视化图表类型
     */
    cardData: {
      type: Object,
      required: true,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
    }
  },
  mounted () {
    this.$nextTick(() => {
      const chart = new this.$F2.Chart({
        id: 'myChart' + this.cardData.id
        // pixelRatio: window.devicePixelRatio // 指定分辨率
      })

      // Step 2: 载入数据源
      chart.source(this.cardData.cardInfo)

      // Step 3：创建图形语法，绘制柱状图，由 genre 和 sold 两个属性决定图形位置，genre 映射至 x 轴，sold 映射至 y 轴
      chart
        .interval()
        .position('genre*sold')
        .color('genre')

      // Step 4: 渲染图表
      chart.render()
    })
  }
}
</script>

<style lang="less" scoped>
.content {
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #2E3036;

  .title{
    background-color: #383b43;
    color: #2578e0;
    padding: 10px 0;
  }

  .canvas-box{
    width: 360px ;
    height: 400px ;
  }
}
</style>
