<template>
  <div class="funnel_container">
    <canvas :id="'funnel1' + Uid"></canvas>
  </div>
</template>
<script>
// 漏斗图
export default {
  name: 'Funnel',
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10),
      FunnelData: [
        { action: '申报', percent: 1, descripe: '20亿 （15件）', color: '#F9BB4C' },
        { action: '报审', percent: 0.8, descripe: '15亿 （10件） 退件：3亿（2件）', color: '#7A8BAE' },
        { action: '批复', percent: 0.6, descripe: '8亿 （8件）', color: '#4983FF' },
        { action: '出账', percent: 0.4, descripe: '5亿 （5件）', color: '#5ECA8C' },
        { action: '', percent: 0.16, descripe: '' }
      ]

    }
  },
  mounted () {
    this.funnelChart(this.FunnelData)
  },
  methods: {
    funnelChart (data) {
      const chart = new this.$F2.Chart({
        id: 'funnel1' + this.Uid,
        width: window.innerWidth - 20,
        height: 212,
        pixelRatio: window.devicePixelRatio,
        appendPadding: [0],
        padding: [70, 100, 10, 0]
      })
      chart.source(data)
      chart.axis(false)
      chart.coord({
        transposed: true,
        // 旋转向下
        scale: [0.8, -1.4]
      })
      chart.legend(false)
      chart.intervalLabel({
        offsetX: -1,
        label: (data, color) => {
          switch (data.action) {
          case '申报':
            return {
              text: '--'
            }

          case '报审':
            return {
              text: '------'
            }
          case '批复':
            return {
              text: '-----------'
            }
          case '出账':
            return {
              text: '----------------'
            }
          default:
            break
          }
        }
      })

      // 提示文案
      data.forEach(function (obj, index) {
        chart.guide().text({
          position: [obj.action, 0.5],
          content: obj.action,
          style: {
            textBaseline: 'middle',
            textAlign: 'center',
            fill: '#fff'
          }
        })
        if (obj.action === '') { return }
        const idx = obj.descripe.split('').indexOf('）')
        const cString1 = obj.descripe.slice(0, idx + 1)
        const idx2 = cString1.indexOf('亿')
        const cString2 = obj.descripe.slice(idx + 1)
        chart.guide().html({
          position: [obj.action, 1.2],
          html: '<div style="font-size: 8px;text-align:left;color: #fff;width:120px;height:20px"><div style="display:block;"><span style="color:' + obj.color + ';font-size:15px;">' + cString1.slice(0, idx2) + '</span><span style="font-size:8px;opacity:0.6">' + cString1.slice(idx2) + '</span></div><div style="font-size: 8px;text-align:left;padding-left:15px;opacity:0.6">' + cString2 + '</div></div></div>',
          alignX: 'center',
          alignY: 'bottom',
          offsetY: 10,
          offsetX: 30
        })
      })

      chart.interval()
        .position('action*percent')
        .color('action', [
          'l(136) 0:#FFC45B 1:#F9BB4C',
          'l(138) 0:#8799BE 1:#7A8BAE',
          'l(141) 0:#6195FF 1:#4983FF',
          'l(143) 0:#58E795 1:#5ECA8C',
          'rgba(0,0,0,0)'
        ])
        .adjust('symmetric')
        .shape('funnel')
      chart.render()
    }
  }
}

</script>
<style scoped>
.funnel_container {
  background-color: #2e3036;
}
</style>
