<template>
  <div class="interval_container">
    <canvas :id="'interval2' + Uid"></canvas>
  </div>

</template>
<script>
// 区间图
export default {
  name: 'Interval',
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10),
      IntervalData: [{
        x: 'FTP后\n净收入',
        y: [0, 1000],
        color: '#FFB07E',
        compare: '6%',
        text: 450

      }, {
        x: '运营\n成本',
        y: [700, 1000],
        color: '#D6D6D6',
        compare: '-%',
        text: 2
      }, {
        x: '税务\n成本',
        y: [480, 700],
        color: '#D6D6D6',
        compare: '1%',
        text: 5.97
      }, {
        x: '风险\n成本',
        y: [450, 480],
        color: '#D6D6D6',
        compare: '-%',
        text: ''
      }, {
        x: '经济\n资本',
        y: [422.2, 450],
        color: '#D6D6D6',
        compare: '-%',
        text: ''
      }, {
        x: 'EVA',
        y: [0, 422.2],
        color: '#FFB07E',
        compare: '5%',
        text: 422.2
      }]

    }
  },
  mounted () {
    this.intervalChart(this.IntervalData)
  },
  methods: {
    intervalChart (data) {
      const chart = new this.$F2.Chart({
        id: 'interval2' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: [20, 10, 50, 42],
        width: window.innerWidth - 20,
        height: 269
      })

      chart.source(data, {
        y: {
          tickCount: 6
        }
      })
      data.forEach((item, index) => {
        let colorA = ''
        if (item.compare === '0') { colorA = '#D6D6D6' } else if (item.compare.indexOf('-') !== -1) {
          colorA = '#D6D6D6'
          chart.guide().text({
            position: [item.x, (item.y[1] - item.y[0]) / 2 + item.y[0]],
            content: item.text,
            style: {
              textBaseline: 'bottom',
              textAlign: 'center',
              fill: item.color === '#FFB07E' ? '#fff' : '#2E3036',
              fontSize: '10'
            },
            offsetY: 7
          })
        } else {
          colorA = '#F73563'
          chart.guide().text({
            position: [item.x, (item.y[1] - item.y[0]) / 2 + item.y[0]],
            content: item.text,
            style: {
              textBaseline: 'bottom',
              textAlign: 'center',
              fill: item.color === '#FFB07E' ? '#fff' : '#2E3036',
              fontSize: '10'
            },
            offsetY: 7
          })
        }
        chart.guide().text({
          position: [item.x, item.y[1]],
          content: item.compare,
          style: {
            textBaseline: 'bottom',
            textAlign: 'center',
            fill: colorA,
            fontSize: '10'
          },
          offsetY: -2
        })

        if (index === 0) return
        chart.guide().line({
          top: false,
          start: ['min', item.y[1]],
          end: ['max', item.y[1]],
          style: {
            stroke: '#4C4D50', // #2E3036
            lineDash: [0, 2, 2], // 虚线的设置
            lineWidth: 1
            // lineCap: 'round'
          }
        })
      })
      chart.axis('x', {
        label: {
          fill: 'rgba(255,255,255,0.7)',
          fontSize: '10'
        },
        line: {
          lineWidth: 0.5,
          fill: '#4C4D50'
        }
      })
      chart.axis('y', {
        label: {
          fill: '#fff'
        },
        grid: {
          lineDash: null,
          lineWidth: 0,
          stroke: '#4C4D50'
        }
      })
      chart.interval().position('x*y').size(30).animate({
        appear: {
          animation: 'shapesScaleInY'
        }
      })
      chart.render()
    }
  }
}

</script>
<style scoped>
.interval_container {
  background-color: #2e3036;
}
</style>
