<template>
  <div class="interval_container">
    <canvas :id="'interval1' + Uid"></canvas>
  </div>

</template>
<script>
// 分组柱形图
export default {
  name: 'Interval',
  props: ['IntervalData'],
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10)
    }
  },
  mounted () {
    this.intervalChart(this.IntervalData)
  },
  methods: {
    intervalChart (data) {
      const chart = new this.$F2.Chart({
        id: 'interval1' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: [42, 10, 60, 42],
        width: window.innerWidth - 20,
        height: 244
      })

      chart.source(data, {
        y: {
          tickCount: data[0].tickCount,
          max: data[0].max
        }
      })
      chart.axis('y', {
        label: {
          fill: 'rgba(255,255,255,0.7)'
        },
        grid: {
          lineDash: null,
          lineWidth: 1,
          stroke: '#4C4D50'
        }
      })

      chart.axis('x', {
        label: {
          fill: '#fff'
        }
      })
      chart.legend('name', {
        position: 'bottom',
        align: 'center',
        itemGap: -30,
        offsetY: -5,
        nameStyle: {
          fill: 'rgba(255,255,255,0.8)', // 文本的颜色
          fontSize: '11', // 文本大小
          width: 33, // 设置文本的宽度
          height: 15 // 设置文本的高度
        },
        marker: {
          symbol: 'square'
        }
      })
      chart.guide().text({
        position: ['min', 'max'],
        content: data[0].unit,
        style: {
          textBaseline: 'bottom',
          textAlign: 'center',
          fill: 'rgba(255,255,255,0.7)'
        },
        offsetY: -10,
        offsetX: -10
      })
      chart.tooltip({
        showTitle: true, // 展示  tooltip 的标题
        layout: 'vertical',
        offsetY: 70,
        onShow (obj) {
          obj.items.forEach(item => {
            item.value = item.value + data[0].unit
          })
        },
        itemMarkerStyle: {
          symbol: 'circle',
          lineWidth: 0
        },
        background: {
          radius: 2,
          fill: '#464A56',
          padding: [6, 10]
        },
        triggerOn: ['click'],
        triggerOff: ['touchend']
      })
      chart.interval().position('x*y').color('name', ['#6195FF', '#F9BB4C']).size(12).adjust({
        type: 'dodge',
        marginRatio: 0 // 设置分组间柱子的间距
      })
      chart.render()
    }
  }
}

</script>
<style scoped>
.interval_container {
  background-color: #2e3036;
}
</style>
