<template>
  <div class="interval_container">
    <div
      class="totip-box"
      ref="tooltip"
    >
      <div class="totip1"></div>
      <div class="totip2"><span class="tipCircle"></span><span class="tipSpan"></span></div>
    </div>
    <canvas :id="'interval1' + Uid"></canvas>
  </div>

</template>
<script>
// 条形图
export default {
  name: 'Interval',
  props: {
    index: {
      type: Number,
      required: false,
      default: () => {
        return 1
      }
    }
  },
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10),
      IntervalData: [[{
        mouth: '2019-12',
        title: '申报数',
        num: 2,
        unit: '件'
      }, {
        mouth: '2020-01',
        title: '申报数',
        num: 3
      }, {
        mouth: '2020-02',
        title: '申报数',
        num: 4
      }, {
        mouth: '2020-03',
        title: '申报数',
        num: 3
      }, {
        mouth: '2020-04',
        title: '申报数',
        num: 5
      }, {
        mouth: '2020-05',
        title: '申报数',
        num: 0
      }, {
        mouth: '2020-06',
        title: '申报数',
        num: 0
      }], [{
        mouth: '2019-12',
        title: '批复数',
        num: 2,
        unit: '件'
      }, {
        mouth: '2020-01',
        title: '批复数',
        num: 3
      }, {
        mouth: '2020-02',
        title: '批复数',
        num: 4
      }, {
        mouth: '2020-03',
        title: '批复数',
        num: 3
      }, {
        mouth: '2020-04',
        title: '批复数',
        num: 5
      }, {
        mouth: '2020-05',
        title: '批复数',
        num: 0
      }, {
        mouth: '2020-06',
        title: '批复数',
        num: 0
      }], [{
        mouth: '2019-12',
        title: '出账金额',
        num: 2,
        unit: '万'
      }, {
        mouth: '2020-01',
        title: '出账金额',
        num: 3
      }, {
        mouth: '2020-02',
        title: '出账金额',
        num: 4
      }, {
        mouth: '2020-03',
        title: '出账金额',
        num: 3
      }, {
        mouth: '2020-04',
        title: '出账金额',
        num: 5
      }, {
        mouth: '2020-05',
        title: '出账金额',
        num: 0
      }, {
        mouth: '2020-06',
        title: '出账金额',
        num: 0
      }]],
      chart: null

    }
  },
  mounted () {
    this.intervalChart(this.IntervalData[this.index])
  },
  methods: {
    intervalChart (data) {
      this.chart = new this.$F2.Chart({
        id: 'interval1' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: [42, 25, 60, 32],
        width: window.innerWidth - 20,
        height: 244
      })

      this.chart.source(data, {
        num: {
          tickCount: 4
        }
      })
      this.chart.axis('num', {
        label: {
          fill: '#fff'
        },
        grid: {
          lineDash: null,
          lineWidth: 1,
          stroke: '#4C4D50'
        }
      })
      this.chart.axis('mouth', {
        label: function label (text, index, total) {
          const textCfg = {}
          textCfg.fill = 'rgba(255,255,255,0.8)'
          textCfg.text = text.slice(text.indexOf('-') + 1) + '月'
          return textCfg
        },
        mask: 'MM'
      })
      this.chart.legend('title', {
        position: 'bottom',
        align: 'center',
        nameStyle: {
          fill: '#fff', // 文本的颜色
          fontSize: '11', // 文本大小
          fontWeight: 'bold', // 文本粗细
          width: 33, // 设置文本的宽度
          height: 15 // 设置文本的高度
        },
        marker: {
          symbol: 'square'
        }
      })
      const unit = data[0].unit
      this.chart.guide().text({
        position: ['min', 'max'],
        content: unit,
        style: {
          textBaseline: 'bottom',
          textAlign: 'center',
          fill: '#fff'
        },
        offsetY: -10,
        offsetX: -12
      })
      // tooltip的标签及位置
      const tip = this.$refs.tooltip
      const Ltop = tip.offsetTop
      const Lleft = tip.offsetLeft
      this.chart.tooltip({
        custom: true,
        onChange: function onChange (ev) {
          const currentData = ev.items[0]
          console.log(currentData)
          tip.innerHTML = '<div class="totip1">' + currentData.origin.mouth + '</div><div class="totip2"><span><span class="tipCircle"></span>' + currentData
            .origin.title + ':</span>  <span class="tipSpan">' + currentData.origin.num + unit + '</span></div>'
          let left = Ltop + currentData.x - tip.clientWidth / 2
          let top = Lleft + currentData.y - tip.clientHeight - 10
          if (top < 0) { top = 10 }
          if (left < 0) { left = 10 }
          tip.style.left = left + 'px'
          tip.style.top = top + 'px'
          tip.style.opacity = 1
        },
        onHide: function onHide () {
          tip.style.opacity = 0
        }
      })
      this.chart.interval().position('mouth*num').color('title', '#6195FF').size(15)
      this.chart.render()
    }

  },
  watch: {
    index () {
      this.chart.changeData(this.IntervalData[this.index])
      this.intervalChart(this.IntervalData[this.index])
      this.chart.repaint()
    }
  }
}

</script>
<style lang="less" scoped>
.interval_container {
  background-color: #2e3036;
  position: relative;
}
.totip-box {
  width: 200px;
  background-color: #464a56;
  position: absolute;
  text-align: left;
  z-index: 99;
  padding: 20px;
  opacity: 0;
  border-radius: 6px;
  /deep/ .totip1 {
    padding-bottom: 14px;
    font-size: 14px !important;
    color: rgba(255, 251, 248, 0.7);
  }
  /deep/ .totip2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px !important;
    padding-right: 20px;
    color: rgba(255, 251, 255, 0.7);
    span:nth-child(1) {
      display: flex;
      align-items: center;
      .tipCircle {
        display: inline-block;
        width: 6px;
        height: 6px;
        border: 2px solid #6195ff;
        border-radius: 50%;
        background-color: #6195ff;
        margin-right: 10px;
      }
    }
    .tipSpan {
      font-size: 16px;
      color: #fff;
    }
  }
}
.title {
  position: absolute;
  bottom: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  span:nth-child(1) {
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #6195ff;
  }
  span:nth-child(2) {
    color: #fff;
    opacity: 0.8;
  }
}
</style>
