<template>
  <div class="pie_container">
       <ul>
      <li
        :class="{lastLi:index === 3}"
        v-for="(item,index) in data"
        :key="index"
      ><span><span
            class="circle"
            :style="{backgroundColor:item.color}"
          ></span>{{item.name}}:</span>
        <span v-if="item.name!== '其他'">{{item.value}}万</span>
        <ul
          v-else
          class="other"
        >
          <li
            v-for="(item2,index2) in item.total"
            :key="index2"
          >
            <span>{{item2.name}}：</span>
            <span>{{item2.value}}万</span>
          </li>
        </ul>
      </li>
    </ul>
    <canvas :id="'pie2' + Uid"></canvas>
  </div>
</template>

<script>

export default {
  name: 'Pie',
  props: ['status'],
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10),
      data: [],
      data1: [{
        name: '存款',
        value: 90,
        percent: 45,
        color: '#6195FF',
        a: '1'
      }, {
        name: '贷款',
        value: 65,
        percent: 32.5,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '中收',
        value: 45,
        percent: 22.5,
        color: '#F9BB4C',
        a: '1'
      }, {
        name: '其他',
        value: 100,
        percent: 50,
        color: '#8759E5',
        total: [
          { name: '同业', value: '25' },
          { name: '普惠', value: '27' },
          { name: '零售', value: '20' },
          { name: '团金', value: '36' }
        ],
        a: '1'
      }],
      data2: [{
        name: '存款',
        value: 80,
        percent: 40,
        color: '#6195FF',
        a: '1'
      }, {
        name: '贷款',
        value: 55,
        percent: 27.5,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '中收',
        value: 35,
        percent: 17.5,
        color: '#F9BB4C',
        a: '1'
      }, {
        name: '其他',
        value: 80,
        percent: 40,
        color: '#8759E5',
        total: [
          { name: '同业', value: '20' },
          { name: '普惠', value: '22' },
          { name: '零售', value: '15' },
          { name: '团金', value: '31' }
        ],
        a: '1'
      }],
      data3: [{
        name: '存款',
        value: 5.68,
        percent: 2.84,
        color: '#6195FF',
        a: '1'
      }, {
        name: '贷款',
        value: 3.71,
        percent: 1.855,
        color: '#0DCD87',
        a: '1'
      }, {
        name: '中收',
        value: 3.87,
        percent: 1.935,
        color: '#F9BB4C',
        a: '1'
      }, {
        name: '其他',
        value: 10.77,
        percent: 5.385,
        color: '#8759E5',
        total: [
          { name: '同业', value: '2.42' },
          { name: '普惠', value: '3.26' },
          { name: '零售', value: '2.14' },
          { name: '团金', value: '2.92' }
        ],
        a: '1'
      }]
    }
  },
  mounted () {
    const value = 'data' + this.status
    this.data = this[value]
    this.chartpie(this.data)
  },
  methods: {
    chartpie (data) {
      const map = {}
      data.forEach((item) => {
        const name = item.name
        map[name] = item.value
      })
      console.log(data)
      const chart = new this.$F2.Chart({
        id: 'pie2' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: 14,
        width: 145,
        height: 145
      })
      chart.source(data, {
        percent: {
          formatter: function formatter (val) {
            return val + '%'
          }
        }
      })
      chart.legend(false)
      chart.tooltip(false)
      chart.coord('polar', {
        transposed: true,
        innerRadius: 0.6,
        radius: 1
      })
      chart.axis(false)
      chart.interval()
        .position('a*percent')
        .color('name', ['#6195FF', '#0DCD87', '#F9BB4C', '#8759E5'])
        .adjust('stack')
      chart.render()
    }

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
.pie_container {
  background-color: #2e3036;
  position: relative;
  padding-right: 400px;
}
ul {
  position: absolute;
  top: 20px;
  left: 340px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    color: #fff;
    font-size: 26px;
    height: 52px;
    white-space: nowrap;
    span:nth-child(1) {
      display: flex;
      align-items: center;
    }
  }
  .lastLi {
    position: absolute;
    top: 0;
    left: 201px;
  }
  .other {
    position: absolute;
    width: 136px;
    top: 40px;
    left: 0;
    li {
      width: 136px;
      height: 42px;
      opacity: 0.8;
      white-space:nowrap;
    }
  }
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
</style>
