<template>
  <div class="pie_container">
    <div class="pie-chart-wrap" :style="{ left: this.chartStyle.left||'-60px' }">
      <canvas :id="'pie1' + Uid"></canvas>
    </div>
    <div class="chart-description" :style="chartDesc">
      <ul v-if="specialChartData">
        <li class="chart-description-item" v-for="item in specialChartData" :key="item.name"><span :style="{ background: item.color}" class="chart-description-dot"></span>{{item.name}}</li>
      </ul>
      <ul v-else>
        <li class="chart-description-item" v-for="item in chartData" :key="item.name"><span :style="{ background: item.color}" class="chart-description-dot"></span>{{item.name}}</li>
      </ul>
    </div>
  </div>

</template>

<script>

export default {
  name: 'PieL',
  data () {
    return {
      Uid: parseInt(Math.random() * 10000, 10)
      // chartData: [{
      //   name: '活期存款',
      //   percent: 24.59,
      //   color: '#6195FF',
      //   a: '1'
      // }, {
      //   name: '定期存款',
      //   percent: 20.41,
      //   color: '#0DCD87',
      //   a: '1'
      // }, {
      //   name: '保证金',
      //   percent: 34.5,
      //   color: '#F9BB4C',
      //   a: '1'
      // }, {
      //   name: '理财',
      //   percent: 20.5,
      //   color: '#F73563',
      //   a: '1'
      // }]
    }
  },
  props: {
    chartData: {
      type: Array,
      default: () => []
    },
    specialChartData: {
      type: Array,
      default: () => []
    },
    allChartData: {
      type: Object,
      default: () => ({})
    },
    chartStyle: {
      type: Object,
      default: () => ({})
    },
    chartDesc: {
      type: Object,
      default: () => ({})
    }
  },
  mounted () {
    this.chartpie2(this.chartData)
  },
  methods: {
    chartpie2 (data) {
      const chart = new this.$F2.Chart({
        id: 'pie1' + this.Uid,
        pixelRatio: window.devicePixelRatio,
        padding: this.chartStyle.padding || [0, 40],
        width: 355,
        height: 210
      })
      chart.source(data, {
        percent: {
          formatter: function formatter (val) {
            return val + '%'
          }
        }
      })
      chart.tooltip(false)
      chart.legend(false)
      chart.coord('polar', {
        transposed: true,
        innerRadius: 0.7,
        radius: 0.6
      })
      chart.axis(false)
      chart.interval()
        .position('a*percent')
        // .color('name', ['#6195FF', '#0DCD87', '#F9BB4C', '#F73563'])
        .adjust('stack')
      chart.pieLabel({
        sidePadding: this.chartStyle.sidePadding,
        inflectionOffset: this.chartStyle.inflectionOffset,
        activeShape: true,
        label1OffsetY: this.chartStyle.label1OffsetY,
        label2OffsetY: this.chartStyle.label2OffsetY,
        label1: function label1 (data) {
          return {
            text: data.name,
            fill: data.color
          }
        },
        label2: function label1 (data) {
          console.log(data)
          return {
            text: data.percent.toFixed(2) + '%',
            fill: data.color
          }
        }
      })
      chart.guide().html({
        position: ['50%', '45%'],
        html: `<div style="width: 250px;height: 12px;text-align: center;">
      <div style="font-size: 16px;opacity: 0.8;">${this.allChartData.title}</div>
      <div style="font-size: 16px;line-height:24px;">${this.allChartData.value}</div>
    </div>`
      })
      chart.render()
    }

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.pie_container {
  background-color: #2e3036;
  position: relative;
  .pie-chart-wrap {
    position: relative;
    // left: -90px;
  }
  .chart-description{
    position: absolute;
    top:100px;
    right:20px;
    .chart-description-item{
      opacity: 0.8;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      line-height: 37px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom:24px;
      .chart-description-dot{
        margin-right:8px;
        display: inline-block;
        width:16px;
        height: 16px;
        border-radius: 50%;
      }
    }
  }
}
</style>
