<template>
  <div class="app">
    <!-- <transition :name="transitionName"> -->
      <router-view />
    <!-- </transition> -->
  </div>
</template>

<script>
import { Button } from 'vant'
export default {

  components: {
    [Button.name]: Button
  },
  data () {
    return {
      show: false
    }
  },
  mounted () {

  }
  // watch: { // 使用watch 监听$router的变化
  //   $route (to, from) {
  //     // 如果to索引大于from索引,判断为前进状态,反之则为后退状态
  //     if (to.meta.index > from.meta.index) {
  //       // 设置动画名称
  //       this.transitionName = 'slide-left'
  //     } else {
  //       this.transitionName = 'slide-right'
  //     }
  //   }
  // }
}
</script>

<style lang="less" scoped>
.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #212228;
  height: 100%;
  min-height: 100vh;
}

.nav {
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: relative;
    width: 25%;
    font-size: 32px;
    letter-spacing: 0;
    color: #ffffff;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  a.active {
    color: #6195ff;
    text-decoration: none;
    .under-link {
      position: absolute;
      bottom: -14px;
      left: 50%;
      margin-left: -11px;

      width: 32px;
      height: 6px;
      background-color: #6195ff;
    }
  }

  a.router-link-exact-active {
    color: #6195ff;
  }
}
.datepicker {
  width: 710px;
  height: 72px;
  background: #383b43;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 500ms;
  position: absolute;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
</style>
