<template>
  <div class="home interval">
    <!-- 贷款规模对标分析 -->
    <CardItem class="card-content" title-type="line-title" title="贷款规模对标分析">
      <template slot="body">
        <p class="income-text">当月新增贷款规模为<span class="prominent">1229.23万</span>，比行业TOP5平均水平高<span
            class="prominent">1.58%</span>，比战区平均水平高<span class="prominent">8.86%</span></p>
        <Brokenline :chartData=[3]></Brokenline>
      </template>
    </CardItem>
    <!-- end of 贷款规模对标分析 -->
    <!-- 债务结构分析 -->
    <CardItem class="card-content" title-type="line-title" title="债务结构分析">
      <template slot="body">
        <IntervalGroup :IntervalData="IntervalData"></IntervalGroup>
      </template>
    </CardItem>
    <!-- end of 债务结构分析 -->
    <!-- 银行融资渠道分析 -->
    <CardItem class="card-content" title-type="line-title" title="银行融资渠道分析">
      <template slot="body">
        <p class="income-text">在银行融资总额度为<span class="prominent">1000百万</span>，平安银行在其中占比为<span
            class="prominent">43%</span>，平安银行在应付账款融资方面发展空间较大。</p>
        <PieL :chartData="financingChannel" :specialChartData="specialFinancingChannel"
          :allChartData="allFinancingChannel" :chartStyle="styleFinancingChannel"></PieL>
      </template>
    </CardItem>

    <section class="comprehensive-ext-four-blocks">
      <div class="comprehensive-ext-four-blocks-item" v-for="(item,index) in fourBlocks" :key="item.title"
        :class="activeClass == index ? 'active':''" @touchstart="getItem(index)">
        <ContrastiveText :title="item.title" :sub-title="item.subTitle" :num="item.num" :unit="item.unit"
          :sub-nums="item.subNums" :index="index" :activeClass="activeClass" />
      </div>
    </section>
    <!-- end of 银行融资渠道分析 -->
    <div class="update-time">数据更新：2020年-4月</div>
    <!-- 银行授信融资占比（亿） start -->
    <CardTableYhsxrzzb></CardTableYhsxrzzb>
    <!-- 银行授信融资占比（亿） end -->

    <!-- 贷款收益率对标分析 -->
    <CardItem class="card-content" title-type="line-title" title="贷款收益率对标分析">
      <template slot="body">
        <p class="income-text">当月贷款收益率为<span class="prominent">3%</span>，比行业TOP5平均水平低<span
            class="prominent">1个百分点</span>，比年平均低<span class="prominent">1个百分点</span></p>
        <Brokenline :chartData=[4]></Brokenline>
      </template>
    </CardItem>
    <!-- end of 贷款收益率对标分析 -->
    <!-- 客户议价能力分析-贷款成本分析 -->
    <CardItem class="card-content" title-type="line-title" title="客户议价能力分析-贷款成本分析">
      <template slot="body">
        <p class="income-text">当月贷款收益率与LPR偏离<span class="prominent">-7.1%</span>，偏离度较大。</p>
        <Brokenline :chartData=[5]></Brokenline>
      </template>
    </CardItem>
    <!-- end of 客户议价能力分析-贷款成本分析 -->

    <!-- 产品成本明细表（万） start -->
    <CardTableCpcbmxb></CardTableCpcbmxb>
    <!-- 产品成本明细表（万） end -->

    <!-- 客户议价能力分析-客户发债成本 -->
    <img src="@/assets/point.png" width="100%" class="img-point">
    <!-- end of 客户议价能力分析-客户发债成本 -->

    <!-- 客户发债成本明细 start -->
    <CardTableKhfzcbmx></CardTableKhfzcbmx>
    <!-- 客户发债成本明细 end -->

    <!-- 客户议价能力分析-行业信用利差 -->
    <CardItem class="card-content" title-type="line-title" title="客户议价能力分析-行业信用利差">
      <template slot="body">
        <p class="income-text">汽车行业议价能力较强</p>
        <div class="under-line"></div>
        <p class="income-text">当期信用利差：</p>
        <div class="interest-margin">
          <p class="interest-margin-name">中债国开-AAA</p>
          <p class="interest-margin-value">
            <span class="interest-margin-number">100</span>
            <span class="interest-margin-unit">bp</span>
          </p>
        </div>
        <div class="interest-margin">
          <p class="interest-margin-name">中债国开-AA+</p>
          <p class="interest-margin-value">
            <span class="interest-margin-number">167</span>
            <span class="interest-margin-unit">bp</span>
          </p>
        </div>
        <div class="interest-margin">
          <p class="interest-margin-name">中债国开-AA</p>
          <p class="interest-margin-value">
            <span class="interest-margin-number">175</span>
            <span class="interest-margin-unit">bp</span>
          </p>
        </div>
        <Brokenline :chartData=[6]></Brokenline>
      </template>
    </CardItem>
    <!-- end of 客户议价能力分析-行业信用利差 -->
  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import Brokenline from '@/components/chart-components/Brokenline'
import ContrastiveText from '@/components/card-components/ContrastiveText'

import PieL from '@/components/chart-components/PieL'
import IntervalGroup from '@/components/chart-components/IntervalGroup'

import CardTableYhsxrzzb from '@/components/card-components/CardTableYhsxrzzb'
import CardTableCpcbmxb from '@/components/card-components/CardTableCpcbmxb'
import CardTableKhfzcbmx from '@/components/card-components/CardTableKhfzcbmx'

export default {
  name: 'AnalysisLoan',
  components: {
    CardItem,
    Brokenline,
    ContrastiveText,
    PieL,
    IntervalGroup,
    CardTableYhsxrzzb,
    CardTableCpcbmxb,
    CardTableKhfzcbmx
  },
  data () {
    return {
      activeClass: 2,
      fourBlocks: [{
        title: '融资总规模占比',
        subTitle: '平安银行/总渠道',
        num: 43,
        unit: '%',
        subNums: [{
          text: '较上月',
          subNum: '23.6%',
          up: 'up'
        }
        ]
      },
      {
        title: '银行借款融资占比',
        subTitle: '平安银行/总渠道',
        num: 50,
        unit: '%',
        subNums: [{
          text: '较上月',
          subNum: '23.6%',
          up: 'up'
        }
        ]
      },
      {
        title: '银行授信融资占比',
        subTitle: '平安银行/总渠道',
        num: 43,
        unit: '%',
        subNums: [{
          text: '较上月',
          subNum: '23.6%',
          up: 'up'
        }
        ]
      },
      {
        title: '应收账款融资占比',
        subTitle: '平安银行/总渠道',
        num: 5,
        unit: '%',
        subNums: [{
          text: '较上月',
          subNum: '0.3%',
          up: 'down'
        }
        ]
      }
      ],
      title: '融资总规模占比',
      subTitle: '平安银行/总渠道',
      num: 40,
      unit: '%',
      subNums: [{
        text: '较上月',
        subNum: '23.6%',
        up: false
      },
      {
        text: '同比',
        subNum: '0.6%',
        up: false
      }
      ],
      allFinancingChannel: {
        title: '合计',
        value: '3000亿'
      },
      styleFinancingChannel: {
        sidePadding: 70,
        inflectionOffset: 30,
        label1OffsetY: -20,
        label2OffsetY: -16,
        left: '-60px'
      },
      specialFinancingChannel: [{
        name: '信用融资 0%',
        percent: 0,
        color: '#fff',
        a: '1'
      }, {
        name: '银行借款 0%',
        percent: 0,
        color: '#fff',
        a: '1'
      }, {
        name: '租赁融资 0%',
        percent: 0,
        color: '#fff',
        a: '1'
      }, {
        name: '应收账款融资 0%',
        percent: 0,
        color: '#fff',
        a: '1'
      }, {
        name: '股权质押 0%',
        percent: 0,
        color: '#fff',
        a: '1'
      }],
      financingChannel: [{
        name: '银行授信',
        percent: 20.00,
        color: '#8759E5',
        a: '1'
      }, {
        name: '股权融资',
        percent: 12.00,
        color: '#6195FF',
        a: '1'
      }, {
        name: '债券融资',
        percent: 13.00,
        color: '#F9BB4C',
        a: '1'
      }],
      IntervalData: [{
        x: '2014',
        name: '刚性债务占比',
        y: 39,
        unit: '%',
        max: 60,
        tickCount: 5
      }, {
        x: '2015',
        name: '刚性债务占比',
        y: 48
      }, {
        x: '2016',
        name: '刚性债务占比',
        y: 49
      }, {
        x: '2017',
        name: '刚性债务占比',
        y: 53
      }, {
        x: '2018',
        name: '刚性债务占比',
        y: 51
      }, {
        x: '2014',
        name: '短期债务占比',
        y: 8.5
      }, {
        x: '2015',
        name: '短期债务占比',
        y: 9
      }, {
        x: '2016',
        name: '短期债务占比',
        y: 8.8
      }, {
        x: '2017',
        name: '短期债务占比',
        y: 13
      }, {
        x: '2018',
        name: '短期债务占比',
        y: 13.4
      }]
    }
  },
  methods: {
    getItem (index) {
      this.activeClass = 2
    }
  }
}

</script>
<style lang="less" scoped>
  .income-text {
    margin-top: 40px;
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    padding-left: 46px;
    padding-right: 24px;

    .prominent {
      color: #6195ff;
      margin-left: 10px;
    }
  }

  .under-line {
    width: 670px;
    background-color: #292929;
    margin: 19px auto 28px;
    height: 1px;
  }

  .interest-margin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #292929;

    .interest-margin-name {
      opacity: 0.8;
      font-size: 26px;
      color: #ffffff;
      margin-left: 25px;
    }

    .interest-margin-value {
      color: #6195ff;
    }

    .interest-margin-number {
      font-size: 64px;
      font-weight: bold;
    }

    .interest-margin-unit {
      font-size: 30px;
      margin-left: 5px;
    }
  }

  .img-point {
    margin-bottom: 20px;
  }

  .comprehensive-ext-four-blocks {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    justify-content: space-between;

    .comprehensive-ext-four-blocks-item {
      width: calc(50% - 10px);
      background: #2e3036;
      border-radius: 10px;
      padding: 40px 64px;
      box-sizing: border-box;

      &:last-child,
      &:nth-last-child(2) {
        margin-top: 20px;
      }
    }
  }

  .update-time {
    font-size: 24px;
    color: #ffffff;
    opacity: 0.8;
    display: flex;
    text-align: right;
    align-items: center;
    flex-direction: row-reverse;
    margin: 20px 0;
  }

  .analysis-complexity-wrap {
    .comprehensive-ext-four-blocks-title {
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      line-height: 45px;
      color: #ffffff;
      text-align: left;
    }
  }

  .comprehensive-ext-four-blocks {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    justify-content: space-between;

    .comprehensive-ext-four-blocks-item {
      width: calc(50% - 10px);
      background: #2e3036;
      border-radius: 10px;
      padding: 40px 40px;
      box-sizing: border-box;

      &:last-child,
      &:nth-last-child(2) {
        margin-top: 20px;
      }

      &.active {
        background: rgba(79, 149, 255, 0.25);
        color: white;
      }
    }
  }

</style>
