<template>
  <div class="home interval">
    <!-- 中间业务收入分析 -->
    <CardItem
      class="card-content"
      title-type="line-title"
      title="中间业务收入分析"
    >
      <template slot="body">
        <p class="income-text">中间业务收入占比为<span class="prominent">40%</span>，比行业TOP5平均水平高出<span class="prominent">400bp</span>，比客户年平均水平高出<span class="prominent">300bp</span></p>
        <p class="chart-title">收入结构分析</p>
        <PieL
          :chartData="IncomeChannel"
          :specialChartData="specialIncomeChannel"
          :allChartData="allIncomeChannel"
          :chartStyle="styleIncomeChannel"
        ></PieL>
      </template>
    </CardItem>
    <!-- end of 中间业务收入分析 -->

    <!-- 中间业务收入明细 start -->
    <CardTableZjywsrmx></CardTableZjywsrmx>
    <!-- 中间业务收入明细 end -->

    <!-- 中间业务收入对标分析 -->
    <CardItem
      class="card-content"
      title-type="dot-title"
      title="中间业务收入对标分析"
    >
      <template slot="body">
        <p class="title-tips">近半年平均0.12%</p>
        <Brokenline :chartData=[7]></Brokenline>
      </template>
    </CardItem>
    <!-- end of 中间业务收入对标分析 -->

  </div>
</template>

<script>
import CardItem from '@/components/common/CardItem'
import Brokenline from '@/components/chart-components/Brokenline'
import PieL from '@/components/chart-components/PieL'
import CardTableZjywsrmx from '@/components/card-components/CardTableZjywsrmx'

export default {
  name: 'Home',
  components: {
    CardItem,
    Brokenline,
    PieL,
    CardTableZjywsrmx
  },
  data () {
    return {
      activeFlag: 1,
      allIncomeChannel: {
        title: '',
        value: ''
      },
      styleIncomeChannel: {
        sidePadding: 70,
        inflectionOffset: 20,
        label1OffsetY: -3,
        label2OffsetY: 6
      },
      specialIncomeChannel: [
        {
          name: '中收收入：0.94万',
          percent: 0,
          color: '#6195FF',
          a: '1'
        }, {
          name: '负债净收入：450万',
          percent: 0,
          color: '#F9BB4C',
          a: '1'
        }
      ],
      IncomeChannel: [{
        name: '中收收入',
        percent: 0.20,
        color: '#6195FF',
        a: '1'
      }, {
        name: '负债净收入',
        percent: 99.80,
        color: '#F9BB4C',
        a: '1'
      }]
    }
  },
  methods: {
    // tabs切换 1 余额 2 月日均 3 年日均
    tabsActive (val) {
      this.activeFlag = val
    }
  }
}

</script>

<style lang="less" scoped>
.income-text {
  margin-top: 40px;
  font-size: 28px;
  color: #ffffff;
  text-align: left;
  padding-left: 46px;
  padding-right: 24px;

  .prominent {
    color: #6195ff;
    margin-left: 10px;
  }
}

.chart-title {
  opacity: 0.8;
  font-size: 28px;
  color: #ffffff;
  text-align: left;
  margin-left: 42px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 10px;
    width: 8px;
    height: 8px;
    opacity: 0.8;
    background: #ffffff;
    border-radius: 4px;
  }
}

.title-tips {
  position: absolute;
  right: 30px;
  top: 53px;
  opacity: 0.8;
  font-size: 24px;
  color: #ffffff;
}

.card-content {
  position: relative;
}
</style>
